[2015-02-13 06:03] jimdowling opened #1 "Command Centre Windows should be read only (black window)"
If you happen to write a character to the black window, you can't enter new commands - they don't work.

[2015-02-13 13:36] kamalhakim commented on #1
It is read-only now, I think it should be fine..

[2015-02-13 13:38] #1 closed

[2015-02-27 15:20] jimdowling opened #2 "re-opening a yaml file doesnt work"
If I open a yaml file. Then open a new one, I can't launch the new one. The state of the old cluster is kept - either in angular or the core.

[2015-02-27 15:30] babbarshaer commented on #2
Can't launch meaning the launching cluster or loading the UI to represent the new file ?

[2015-02-27 16:21] jimdowling commented on #2
I was trying with the hops.yml cluster. I am trying to reproduce. May have been a problem with the cookbook. Will report back.

[2015-02-28 06:05] jimdowling commented on #2
Cant reproduce just now.

[2015-02-28 06:05] #2 closed

[2015-02-28 06:16] jimdowling opened #3 "relative paths for cookbooks in github"
It's very convenient to store all cookbooks in a single github repo.
See for example:
https://github.com/vmware-serengeti/serengeti-pantry/tree/master/cookbooks
Can we add relative paths for cookbooks to Clusterfile (yml), just like there is support in Berkshelf?
In the Berksfile:
cookbook 'firewall-rules', path: 'cookbooks/firewall-rules'

path: doesn't download cookbooks. So in the Clusterfile,

[2015-03-09 06:08] jimdowling opened #5 "Karamelfile/yaml file doesn't treat "default.rb" as equivalent to a no cookbook with no recipe name"
If I have a YAML file like this:
...
hopsworks:
    size: 1
    recipes:
    - ndb::mysqld
    - hops::nn
    - hops::jhs
    - hops::rm
    - hops::ndb
    - ndb::memcached
    __- hopshub__
    - ndb::mgmd

and a Karamelfile like this:
dependencies:
  - recipe: hopshub::install

    local:
      - ndb::install
      - hadoop::install
  - recipe: __hopshub::default__

    local:
      - hopshub::

[2015-03-14 22:57] jimdowling opened #6 "VPC subnets as a ec2 provider option"
VPC subnets are important for the highest performance networking (10 GbE) - without it you have 1 GbE. You can easily create them in jclouds - see here: https://jclouds.apache.org/guides/aws-ec2/.
It would be nice to have this as  a ec2 option:
vpc true
or something like that.

[2015-03-15 06:19] jimdowling commented on #6
VPC
To create nodes in a subnet under Amazon VPC add the following option to your template options. Note that VPCs and Security Groups are mutually exclusive.

TemplateOptions options = compute.templateOptions();
options.as(AWSEC2TemplateOptions.class).subnetId(subnetId);

Set<? extends NodeMetadata> nodes = client.runNodesInGroup(group, 1,
               options);
You can also checkout EC2Compute

[2015-03-15 11:06] jimdowling opened #7 "Purge is slow"
It is so slow, I don't use it. I prefer to go into the AWS console and terminate instances from there.

[2015-03-16 16:17] jimdowling opened #8 "required attributes in metadata.rb"
The Cookbook Attribute tab in Angular doesn't separately display "required", "optional", etc.

[2015-03-16 16:19] jimdowling opened #9 "Services Tab"
We should have a tab beside "Launch" called "Services" that shows a popup dialog or a new page with the list of services and URLs to them, and their status (installing/failed/working). These services and their URLs should be take from metadata.rb files.

[2015-03-16 16:55] babbarshaer commented on #8
Can you give me the url of the cookbook that you are using which has separate required and the optional attributes ?

[2015-03-17 05:37] jimdowling commented on #8
https://github.com/hopshadoop/ndb-chef/
or
https://github.com/hopshadoop/hopshub-chef

[2015-03-20 23:08] jimdowling opened #10 "Variables"
In the ndb-chef recipe, I want to generate a public-private key in the mgmd-server node. Then, in the subsequent ndbd recipes (they come after the mgmd node in the DAG), i would like to pass in the public key to the mgmd node as a parameter (update .ssh/authorized_keys with the mgmd's public key), so that the mgmd node can ssh into the machines without a password.
However, there's no way of passin

[2015-03-23 06:17] jimdowling opened #11 "Make ec2 provider labels consistent with aws terminology"
Instead of 'image', we should use 'ami'.
'ec2' is not used so much anymore, 'aws' is the more common and more general term (covers VPC, s3, and all other services).

[2015-03-24 11:39] jimdowling opened #12 "Cookbook attributes still shown for a recipe even after it has been deleted from all stacks"
If I delete a recipe from all stacks, and then click on cookbook attributes, the old attributes for the recipe are still shown in the "cookbook attributes" tab.

[2015-04-07 07:54] KimBjork opened #13 "Core:undefined"
When I try to load the a yml file I get an error that says "Core: undefined".

[2015-04-07 08:47] kamalhakim commented on #13
Make sure you have the core running.. can you attach your yaml file here?

[2015-04-07 15:37] marcbux opened #14 "Support attribute of type array"
Currently, Karamel seems not so support parsing attributes of type "array" specified in the yaml file. Instead, it interprets them as strings, which leads to errors.

[2015-04-07 15:38] marcbux opened #15 "Port Forwarding"
It would be really nice if Karamel supported port forwarding, similar to kitchen.

[2015-04-07 15:40] marcbux opened #16 "Install recipe dependencies"
the intall.rb recipe of a cookbook A installed using Karamel is sometimes executed after install.rb recipes of a cookbook B, which is stated as a dependency of cookbook A in the Berksfile.

[2015-04-07 15:42] marcbux opened #17 "error during clone and vendor step"
Running the variantcall.yml from https://github.com/marcbux/hiway-chef in Karamel sometimes (every fifth time or so) leads to an error in Karamel in which the "clone and vendor" step of github.com/marcbux/hiway-chef fails.

Unfortunately, this issue is somewhat difficult ro reproduce and additonal information might be needed to narrow this down.

[2015-04-07 15:44] marcbux opened #18 "Timeout (?) during recipe installation"
When running the variantcall.yml from https://github.com/marcbux/hiway-chef, Karamel shows the recipe hiway::variantcall_client as ONGOING, even though it has already finished.

This could have something to do with a timeout of the ssh connection.

[2015-04-08 06:11] jimdowling opened #19 "Need to support 'tags' in Berksfile"
We need to support this syntax in Berksfile:
cookbook 'ark', github: 'burtlo/ark', tag: 'v0.8.2'

se.kth.karamel.common.exception.CookbookUrlException: Cookbook-dependency 'ark' doesn't refer to a valid url in Berksfile 'https://raw.githubusercontent.com/hopshadoop/apache-hadoop-chef/master/Berksfile'
	at se.kth.karamel.cookbook.metadata.Berksfile.validateGithubUrls(Berksfile.java:72)
	at se.kth.k

[2015-04-08 13:15] marcbux commented on #17
I managed to reproduce the error. When checking the error log of the clone and vendor step (after it failed), it reads:

Cloning into 'hiway-chef'...
Already on 'master'
Your branch is up-to-date with 'origin/master'.
No entry for terminal type "unknown";
using dumb terminal settings.
/opt/chefdk/embedded/lib/ruby/gems/2.1.0/gems/json-1.8.2/lib/json/common.rb:155:in `encode': "\xE2" on US-ASCII (E

[2015-04-08 13:15] marcbux commented on #17
This error could have something to do with the locale settings; see https://github.com/berkshelf/berkshelf-api/issues/112

[2015-04-09 14:07] marcbux commented on #18
Update: Running a cookbook in which recipes took a long time (> 30 minutes or even 1 hour) to run, Karamel even showed the recipe as FAILED, even though it still ran. The Karamel log indicates that this is indeed a timeout issue:

ERROR [2015-04-09 14:02:35,749] se.kth.karamel.backend.machines.SshMachine: Couldn't close ssh session to 'ubuntu@52.16.148.69'
! java.util.concurrent.TimeoutException:

[2015-04-10 10:36] jimdowling commented on #13
Hi Kim. I fixed a problem with the hadoop.yml file this week. Could you try it again? Otherwise, if you get "Core: undefined", you can copy the logs by double-clicking on the Karamel Tray Icon that should appear with a window dialog containing the recent log entries.

[2015-04-10 14:36] steffengr opened #20 "Show an error message if the ssh private key is password protected"
Karamel silently fails to set up the cluster if the private key is password protected. A error message should be shown to the user to make him aware of this.

[2015-04-10 14:58] steffengr opened #21 "SSH login fails after letting karamel create its own key pair"
Having a password protected key pair, I decided to let karamel create its own pair. However, karamel fails to log in to the created instances using the newly created key. The resulting error is shown below. Trying to log in to the created instances manually using the old key succeeds. Looking at the authorized_keys folder of the created instances it appears like the wrong public key was uploaded.

[2015-04-10 15:17] thvasilo commented on #21
So adding more info: When providing the non-default keys to karamel (Using the `Generate keys` option in `Cluster->Launch`) your default `.ssh/id_rsa.pub` gets uploaded to the instances instead of the ones generated by karamel.

The confusing part was that you are still able to ssh into the machine even when providing `-i .karamel/.ssh/id_rsa.pub` as an ssh option. Why this happens is explained [h

[2015-04-10 15:44] jimdowling opened #22 "chmod id_rsa to 600"
The generated keys have too open permissions on apple/linux. Apple won't let you run
"ssh -i .karamel/.ssh/id_rsa ubuntu@...."
unless you change the permissions.
It's a one-line fix, i guess.

[2015-04-11 20:10] kamalhakim commented on #6
[code]

[2015-04-11 20:27] #6 closed

[2015-04-11 20:31] kamalhakim commented on #7
Now https://github.com/karamelchef/karamel/commit/b26db3911ecd2c4fc389a16529319d4e0d9421bb all machines are getting killed together.. There is a thread interruption that is slow now..

[2015-04-11 20:45] kamalhakim commented on #13
@KimBjork can you please update on this or close it please..

[2015-04-11 20:46] kamalhakim commented on #9
@jimdowling isn't this equivalent to service links?

[2015-04-11 20:47] kamalhakim commented on #8
@babbarshaer any update on this?

[2015-04-11 21:07] babbarshaer commented on #8
Not yet. Will work on recreating the issue.

[2015-04-11 21:32] kamalhakim commented on #18
@marcbux can you test it please?

[2015-04-12 06:43] #22 closed

[2015-04-12 07:21] kamalhakim commented on #13
@jimdowling can someone explain this to me? is it fixed or not?

[2015-04-12 07:27] jimdowling commented on #6
Kamal, can you add the steps above to the README.md?

[2015-04-12 08:37] jimdowling opened #24 "Chrome gives a warning when downloading windows package"
1. Sign the exe using comodo signing cert
2. Register karamel.io with google webmaster tool

[2015-04-12 13:56] kamalhakim commented on #6
Done.

[2015-04-13 10:08] marcbux commented on #18
I am now getting an error during precleaning:

When launching the latest version (pulled from GitHub), I now get an error during precleaning:

ERROR [2015-04-13 10:02:59,619] se.kth.karamel.backend.ClusterManager:
! java.lang.NullPointerException: null
! at se.kth.karamel.backend.launcher.amazon.Ec2Launcher.cleanup(Ec2Launcher.java:248) ~[classes/:na]
! at se.kth.karamel.backend.ClusterManager.cle

[2015-04-13 10:21] kamalhakim commented on #18
@marcbux  Are you sure you have the latest version? I just ran it and it passed the PRECLEANINF phase..

[2015-04-13 11:13] kamalhakim commented on #18
@marcbux I found the cause of timeout, please test it again..

[2015-04-13 20:59] KimBjork commented on #13
It works now.

[2015-04-13 21:23] #13 closed

[2015-04-14 07:29] jimdowling opened #25 "Crashing on cleaning"
There's a NPE here, introduced by a commit from this weekend:

    for (JsonGroup group : jgroups) {
      String uniqueGroupName = Settings.EC2_UNIQUE_GROUP_NAME(clusterName, group.getName());
      for (SecurityGroup secgroup : context.getSecurityGroupApi().describeSecurityGroupsInRegion(group.getEc2().getRegion())) {
        if (secgroup.getName().startsWith("jclouds#" + uniqueGroupName) || sec

[2015-04-14 07:30] jimdowling commented on #25
Could this be the change in Group names?
Has upgrading to jclouds 1.9 introduced any new bugs?

[2015-04-14 07:48] kamalhakim commented on #25
Jclouds 1.9 is fine, It is a bug in the logic, doesn't happen always though.. fixing it now

[2015-04-14 13:45] kamalhakim commented on #25
covered here https://github.com/karamelchef/karamel/commit/72c7eef766569d50a30fcfd8bf0498f25bdd8844

[2015-04-14 13:46] kamalhakim commented on #25
@jimdowling I cannot reproduce this error on my machine, it is fixed though.. can you test it please?

[2015-04-14 13:53] kamalhakim commented on #21
This was happening because of mix of two issues:

1. Karamel was not uploading they new keypair to ec2 if it was already existed (it was checking with the key-name), so in case you run Karamel once with your default key and retry it with the generated key it was keeping your default public key on ec2.
2. As @thvasilo pointed out `ssh -i ` falls back to your default key, so that is up to the user t

[2015-04-14 13:54] #21 closed

[2015-04-14 13:55] kamalhakim commented on #20
A failure table was added into the cluster status..

[2015-04-14 13:55] #20 closed

[2015-04-14 13:56] kamalhakim commented on #18
@marcbux timeout should be over now, can you confirm please?

[2015-04-14 13:56] #18 closed

[2015-04-14 13:56] #25 closed

[2015-04-14 14:01] kamalhakim commented on #15
@marcbux Can you please add more explanation about this?

[2015-04-14 15:24] marcbux commented on #15
In the .kitchen.yml, you can configure the VM like so:

driver:
  name: vagrant
  customize:
    memory: 4608
    cpus: 2
    natdnshostresolver1: "on"
    natdnsproxy1: "on"
  network:
  - ["forwarded_port", {guest: 8042, host: 8042}]
  - ["forwarded_port", {guest: 8080, host: 8080}]
  - ["forwarded_port", {guest: 8088, host: 8088}]
  - ["forwarded_port", {guest: 50070, host: 50070}]
  - ["forwar

[2015-04-14 15:54] marcbux commented on #18
Looks good. Recipe has been running for a good 30 minutes and still no
timeout.

On Tue, Apr 14, 2015 at 3:56 PM, Kamal <notifications@github.com> wrote:

[2015-04-14 17:08] jimdowling commented on #25
Worked for me. Thanks.

[2015-04-14 17:24] jimdowling opened #26 "Cannot ssh into machine when using generated ssh key"
In windows using putty, I cannot connect to machines created using my generated and saved ssh key. This used to work.

[2015-04-14 18:10] jimdowling opened #27 "Karamelfile dependencies on install recipes not respected"
I designed a Flink CB with the following Karamelfile:
dependencies:
  - recipe: flink::install
    local:
      - hadoop::install
  - recipe: flink::jobmanager
    local:
      - flink::install
    global:
      - hadoop::dn
  - recipe: flink::jobmanager
    local:
      - flink::install
    global:
      - flink::jobmanager

However, flink::install runs before hadoop::install - even though hadoop

[2015-04-14 18:31] jimdowling commented on #26
Only happened for ambari cluster. Closing pending further investigation.

[2015-04-14 18:31] #26 closed

[2015-04-15 07:11] kamalhakim commented on #16
Duplicate of #27

[2015-04-15 07:11] #16 closed

[2015-04-16 15:00] jimdowling opened #28 "Configure Cookbook broken"
How to repeat:
Load hadoop.yml cluster.
In configure cookbooks, change hadoop.version to 2.6.0

Now look in the hadoop__install.json file generated on the nodes, and it does not add hadoop.version to the attributes in that file.

[2015-04-17 00:23] babbarshaer commented on #8
@kamalhakim
Hey I checked by loading the cookbook but found that the cookbook meta data that the core returns to the ui doesn't contain the information about the required attribute.

An extract :

"attributes": [
        {
            "default": "80",
            "name": "ndb/DataMemory"
        },
        {
            "default": "",
            "name": "ndb/IndexMemory"
        },
        {

[2015-04-17 06:57] kamalhakim commented on #8
I will have a look at it, thanks.

[2015-04-17 06:58] kamalhakim commented on #8
@babbarshaer btw, which cookbook was it?

[2015-04-17 08:21] babbarshaer commented on #8
https://github.com/hopshadoop/ndb-chef/

[2015-04-19 08:51] jimdowling opened #29 "Browser launch fails on some platforms (gnome)"
Java's Desktop method for launching the browser is not fail-safe.

[2015-04-20 08:36] kamalhakim commented on #9
@jimdowling Isn't it equivalent to the cluster links that we have right now? What is the status and how karamel should collect them?

[2015-04-20 08:46] kamalhakim commented on #15
That's more letting some ports to be open rather than forwarding ports as far as I understood. Allowing just required ports open on security groups is in our plan and it is rather a security improvement which has lower priority as you said.

[2015-04-20 08:55] kamalhakim commented on #17
@marcbux I am not using windows but it seems @jimdowling doesn't have this issue. Can you update on this, are still facing it? Isn't it specific for your recipe ?

[2015-04-20 08:57] kamalhakim commented on #29
@jimdowling Please don't leave the assignee empty for those issues you reporting them. Particularly it is very important for the bugs.

[2015-04-20 09:25] jimdowling commented on #9
This idea was the one where you could define a service in your metadata.rb - such as @link (public_ip::8080/hopsworks). This would be a link you could click on to bring you directly to the web service. I don't know what the status of this is.

[2015-04-20 09:26] jimdowling commented on #29
I pushed a fix for this last night, closing. Will re-open if we see it on other platforms in future.

[2015-04-20 09:26] #29 closed

[2015-04-20 13:53] jimdowling opened #31 "Allow recipes to return results that can be used in later recipes"
I propose doing this in 2 parts:
(1) Have a way for Chef recipes to write results to a json file that can be pulled by Karamel after finishing executing Chef-Solo for a recipe.
(2) Refactor the Dag, so that we have the Dag as a single object for each cluster. We are missing an abstraction in the code - we have cluster definitions and the Dag is a runtime-cluster. We should have a place that stores

[2015-04-20 14:12] jimdowling commented on #31
Ok, i see some of this is already in CommandService - mgmt of lots of different cluster.

[2015-04-21 07:31] kamalhakim commented on #31
I think you missing some parts of the design, Dag is not a runtime-cluster, it is just one way of ordering a group of tasks such as installation tasks based on some ordering rules ex. karamelfile for installation. Each cluster instantiates one instance of DAG for the installation phase, I call it installation DAG, it is a temporary resident of cluster runtime as long as cluster is in the installat

[2015-04-21 11:10] #7 closed

[2015-04-21 11:12] kamalhakim commented on #31
@jimdowling isn't some sort of duplicate of #10 ? Can you please merge them it that's the case?

[2015-04-21 11:27] jimdowling commented on #10
Duplicate of #31 , closing.

[2015-04-21 11:27] #10 closed

[2015-04-21 13:56] kamalhakim opened #32 "Cluster status time-line"
It would be nice if Karamel pushes more detail information about each phase, for example for PRECLEANING or PURGING user will feel better when the progress is visible..

[2015-04-21 13:59] kamalhakim opened #33 "Don't filter control keys in the ssh terminal emulator in the browser"
When user get's ssh access to one vm in the browser, control keys don't go through.. For example it 'tab' as auto-complete..

[2015-04-21 14:00] kamalhakim commented on #33
ctrl+c
arrow up
arrow down

[2015-04-21 14:02] kamalhakim opened #34 "Set so called command-page as Karamel homepage and integrate the board view into terminal editors"

[2015-04-21 14:03] kamalhakim opened #35 "Make editor of ec2 credentials and ssh keys as one type of editor in the terminal"

[2015-04-21 14:04] kamalhakim opened #36 "Take the length of links' tag away from textual table generator"

[2015-04-21 14:04] kamalhakim opened #37 "Render shell response colors in the terminal"

[2015-04-21 14:16] kamalhakim opened #38 "Merge err and out logs for each task"

[2015-04-21 14:17] kamalhakim opened #39 "Disable logs link of unfinished tasks because they are empty"

[2015-04-21 14:18] kamalhakim opened #40 "Fix recipe logs"
A solution suggested by @jimdowling
sudo chef-solo -c solo.rb -j %json_file_name%.json 2>&1 | tee %log_file_name%.log

[2015-04-21 14:19] kamalhakim commented on #39
Alternatively we can show a message in case a log is not available

[2015-04-21 14:20] kamalhakim opened #41 "Repeat/ignore notion for tasks, resume cluster when failures are resolved"

[2015-04-21 14:25] kamalhakim opened #42 "DAG visualiser in the browser"
Here is the solution how to integrate dagre-d3 into the Angularjs.
http://stackoverflow.com/questions/23469442/integrating-angularjs-and-dagred3-angularjs-directive-does-not-update-on-model

It would be useful if user can see the DAG both from not-running yaml (debug the dependency graph ) and a running cluster (track status) ..

[2015-04-21 15:01] kamalhakim commented on #27
An old comment that I had running hiway:

having install in the yaml, hiway:install -> hadoop::install, hiway::install appears twice in the day, hiway:: install becomes self dependen

[2015-04-21 15:03] kamalhakim opened #43 "Validate acyclic DAG"
It never happened to have a cyclic DAG but if it happens it will be catastrophe !!

[2015-04-21 15:08] kamalhakim opened #44 "Authorized another user to access your cluster"
By adding public-key to authorised_keys of all vms in run-time

[2015-04-21 15:12] kamalhakim opened #45 "Begin spirit of Mocking in tests"
To have better test coverage..

[2015-04-21 15:14] kamalhakim commented on #3
Some old comments:
https://github.com/berkshelf/berkshelf/issues/436
https://github.com/karamelchef/karamel/issues/3

[2015-04-21 21:46] jimdowling commented on #24
I've done all I can on this - signed windows exe with signing cert, registered karamel.io with google webmaster tools. Only when the .exe is downloaded often enough without problems, will it get white-listed by blackmailing google.

[2015-04-21 21:46] #24 closed

[2015-04-22 09:47] gyfora opened #46 "Karamel fails to fork enough ec2 instances"
We have tried the provided Flink.yml script for Flink , but it seems that it can only fork max 10 ec2 nodes. Even though Karamel fails, the ec2 isntances get into the "running" state

We have tried with 15 and 20 but we got the following exception (several times):

AWSResponseException on node eu-west-1/i-46e8caa2:
! org.jclouds.aws.AWSResponseException: request POST https://ec2.eu-west-1.amazonaw

[2015-04-23 08:46] senorcarbone opened #47 "Actions in command page are out of reach while scrolling"
The new command page UI looks nice but it could use some minor enhancements to be practical. More specifically the actions on the top are only visible when we scroll at the top. It would be nice to hover the action bar together with the current position of the scroll bar so actions are always accessible.

[2015-04-23 08:59] kamalhakim commented on #47
Thanks Paris for the suggestion, I have another level of UI modification coming up this will be included also.

[2015-04-23 09:01] kamalhakim commented on #47
Related to #34 and #35

[2015-04-23 13:26] kamalhakim opened #48 "Run Karamel from the command-line and terminate returning '0' on success"
Success is defined as all Chef recipes running without returning errors.
We want to use Karamel to test deployments of real clusters, e.g.,  Hops.
The test procedure for Hops should be:
junit -> kitchen -> karamel

[2015-04-23 14:26] berthoug opened #49 "vpc and subnet in yml file not loaded"
When doing "file"->"load cluster" in the graphical interface and loading a yml file containing a vpc and a subnet definitions, these definitions are not loaded by Karamel.

File->view cluster show the same code as the yml file except for these two fields that are absent.

If we do not add these filed by editing the cluster within karamel, karamel throw an error when starting a c4.

[2015-04-23 14:44] kamalhakim commented on #49
@babbarshaer Abhi, I have introduced some new fields in the yaml but when we load the yaml with the Karamel-board, those fields get lost in the json. If you remember we had this problem earlier for other fields that you fixed it. Is there anyway to generalize this behavior for any new field?

[2015-04-23 14:44] jimdowling commented on #28
Abhi, do you have any idea what's going on here? I think that configure cookbooks is completely broken - somwhere along the chain....

[2015-04-23 15:50] babbarshaer commented on #28
@jimdowling : Let me have a look at it. The issue is that you are trying to override parameter and the updated value is not reaching core ?

[2015-04-23 15:52] babbarshaer commented on #49
@kamalhakim : earlier when we had a discussion, we separated the two models. You have to capture the fields in the UI model also. Then they would be visible.

[2015-04-23 16:01] kamalhakim commented on #49
Can you point me to the fix commit you did for the last ones that I can quickly apply it for these ones?

[2015-04-23 16:07] babbarshaer commented on #49
karamel.js contains the ui model and there you would need to create fields in appropriate object and load them

[2015-04-23 17:53] kamalhakim opened #50 "vpc machines get stuck in the FORKED state"
When using VPC, it is always one of the forked machines that goes on into CONNECTED stated, others stay in the FORKED and installation never progress.

[2015-04-23 17:54] kamalhakim commented on #50
@berthoug

[2015-04-23 18:41] kamalhakim commented on #46
It should be fine now @gyfora and @senorcarbone can you please test it?

[2015-04-23 18:41] #46 closed

[2015-04-23 21:07] gyfora commented on #46
Seems to work, thanks!

[2015-04-23 23:17] #49 closed

[2015-04-24 07:35] jimdowling commented on #28
This is a bug of highest priority.

I did a bit of debugging - the problem is in the core.
For the NDB cookbook, I configured ndb/DataMemory to be 111.
The REST API sent this to the core:
INFO  [2015-04-24 07:32:15,098] se.kth.karamel.webservice.KaramelServiceApplication: Start cluster:
{"name":"MySqlCluster","cookbooks":[{"name":"ndb","attrs":{"ndb/DataMemory":"111"},"branch":"master","github":"h

[2015-04-24 07:37] jimdowling commented on #28
This is what ends up in the chef-solo json:
ubuntu@ip-10-196-226-72:~$ cat ndb__mgmd.json
{
  "ndb": {
    "mysqld": {
      "private_ips": [
        "10.196.226.72"
      ],
      "public_ips": [
        "54.155.3.91"
      ]
    },
    "ndbd": {
      "private_ips": [
        "10.192.14.132",
        "10.96.52.85"
      ],
      "public_ips": [
        "54.220.99.141",
        "54.217.90.127"

[2015-04-24 09:29] kamalhakim commented on #28
Thanks @jimdowling for the detail info. It will be fixed today.

[2015-04-24 10:03] kamalhakim opened #51 "Exponential back-off repeating mechanism for all ec2 request.."

[2015-04-24 10:10] #50 closed

[2015-04-24 10:20] kamalhakim commented on #50
It should be fine now @berthoug can you confirm it please?

[2015-04-24 13:21] kamalhakim commented on #28
@babbarshaer I explored this a bit, now I remember that we had decided that I spread all the global scope attributes into the groups under the corresponding cookbooks.. That's why i am expecting the same from the json coming from the UI..

[2015-04-24 13:29] kamalhakim commented on #28
If I do convert json->yaml->json then it works.. I am not sure though if our original solution was good, we loose the scope information..

[2015-04-24 14:19] #28 closed

[2015-04-27 22:12] jimdowling opened #52 "Karamelfile not respected?"
I'm not sure if this is the same as the install recipe dependencies problem, but here I get recipes running way earlier than they should:

Look at recipes 2 and 3

________________________________________________________________________________________________________________________________________________
| Machine                  | Public IP                                             | Privat

[2015-04-28 07:37] kamalhakim commented on #52
This table is not sorted based on the running time, so I cannot really see the problem!

[2015-05-03 12:16] #5 closed

[2015-05-03 12:16] #27 closed

[2015-05-03 12:16] #43 closed

[2015-05-03 12:16] #52 closed

[2015-05-04 09:57] #38 closed

[2015-05-04 13:20] #19 closed

[2015-05-04 13:20] kamalhakim commented on #19
@jimdowling it is done, can you test it?

[2015-05-04 14:03] #9 closed

[2015-05-04 14:05] kamalhakim commented on #9
@jimdowling As I said here is the sample how you add links.. It would be nice if we can add all the links for hadoop/hops/spark/flink and .. that people use them very often.

[2015-05-05 04:17] #36 closed

[2015-05-07 21:24] jimdowling opened #53 "OpenStack Support"
I would be great to have OpenStack as a provider.
We would need to break down the work into a number of steps:

(1) update KaramelApi to have methods for authenticating with OpenStack Credentials
- User, Password, Tenant Name, Endpoint
We need to save these in the ./karamel/conf file. We will also need public/private ssh keys - but we have this in our current implementation.

(2) We need to modify

[2015-05-08 08:26] alorlea commented on #53
I remember we had some sort of alphaish functionality when we tried to test this in the SICS cluster like 2 years ago and did manage to deploy stuff on OpenStack

I do not know if we still have the old previous knowledge from that first version around of the source code or even if JClouds have changed again their API. When I looked into this, I remember it changed how they did the api calls but ma

[2015-05-08 11:54] kamalhakim commented on #53
@jimdowling thanks for bringing this up and I am grateful if @alorlea wants to contribute.
In my view OpenStack is high priority because in many domains like BiobankCloud data is privacy sensitive and in practice using a Public Cloud is impossible.

@jimdowling I am not sure what (2) means? Why do we need to change JClouds code?

[2015-05-09 21:51] jimdowling commented on #53
@alorlea - would be great if you could do this. Tons of people interested in OpenStack, and you did it before, so shouldn't be too hard.
For (2), I haven't looked into the actual changes that need to be made in detail, but creating OpenStack VMs in JClouds follows a different pattern to AWS from what I remember. Like Alberto mentions, it's not "create security group", "create vm in security group"

[2015-05-09 23:00] kamalhakim commented on #53
oh yeah.. they have totally different APIs. But OpenStack has more settings and it will affect all the layers from yaml down to the backend, so let's see the all settings that API supports from the very start otherwise iterational changing will waste some time.
There is a possibility that more people pitch in on OpenStack, so it makes sense to split it into smaller tasks, first we need to have a g

[2015-05-10 09:30] alorlea commented on #53
I remember that we did manage to give support to the core set of operations in both. The problem came more on the HW side of the Openstack infrastructure rather than code wise.

I have checked their website and seems they keep the same examples I looked long time ago. As @kamalhakim pointed out, we could dissect it into smaller checkpoints in order to get a better overview of OpenStack and if they

[2015-05-10 10:01] kamalhakim commented on #53
Sounds great. If you can spend some time investigating on OpenStack itself and the API, and also if you can look at the Karamel's code. Then we can have a meeting, we can go through the code and do the task break-down and a little planning probably.

[2015-05-13 16:10] #42 closed

[2015-05-13 16:34] kamalhakim opened #54 "Issue of zero size vertices in dag"
As I mentioned here https://github.com/cpettitt/dagre-d3/issues/163 dagre generates the following hierarchy. Values in (g transform="translate(0,0)") and (foreignObject width="0" height="0")  shouldn't be 0 :

[code]

while it must generate something like this:

[code]

[2015-05-13 16:35] kamalhakim opened #55 "d3-dag of running cluster shows both dummy and real dag"
We should remove the dummy dag.

[2015-05-14 09:53] alorlea commented on #45
In my current employer, it was introduce the usage of Google Guice, for Dependency Injection and also Mockito for mocking in tests. So far the experience has been great with it, and probably Guice needs some extra configuration in the project.

Maybe it would be nice to bring these technologies to the table as it will help us how to modularize the components and make them become more testable.

@k

[2015-05-14 10:07] kamalhakim commented on #45
Yes, thats right... I had worked with both in earlier projects also, even though the simplicity they make to design your code in a mockable way that I really like. This is one of my standards, we must have good test coverage, it could be any tool that help us to test each part individually without any dependency.

[2015-05-14 10:26] alorlea commented on #45
I also have started to become a bit strict with this and I added this as a personal standard also. I believe this is something it should always be achieved. We should, then try to include this, I believe soon enough. This should allow us to control much better the technical debt of the project and control code quality.

[2015-05-14 10:55] kamalhakim commented on #45
:+1: Feel free to take any task and start to introduce any mocking tool. We need it for different test levels unit, function, module, integration or end to ends.

[2015-05-14 15:37] alorlea commented on #53
I created a new branch for this feature and will start looking into it. Also as we mentioned in another thread, I will see if I can add mockito in this part also.

BTW, I did the branch from master and I got like 4 tests broken. Is this intended?

[2015-05-14 16:01] kamalhakim commented on #53
cool. Yes probably the ones that needed to be moved somewhere else. I will fix those.

[2015-05-14 19:27] jimdowling opened #57 "chef-solo json files generated on ec2 are not formatted if params are merged"
After merging JsonObjects, the formatting of Json objects is lost. This problem was introduced by #56. I guess there's a setting in Gson somewhere to pretty-print/format the json text. We should added it.

[2015-05-14 20:26] jimdowling opened #59 "Exit Button from Browser"
It should shutdown the java application and close the browser tab.

[2015-05-14 21:09] #59 closed

[2015-05-15 04:30] jimdowling opened #60 "Support for Passphrase protected ssh keys"
We should have an extra option (possibly hidden that can be opened by clicking an advanced button) for a user to supply a password if he/she has one for his/her ssh key.
If the user wants, he/she could also store the passphrase for future use. This would store the passphrase in ~/.karamel/conf, and Karamel would pull it out automatically.

[2015-05-15 08:59] kamalhakim commented on #53
Hi @alorlea, can we split this task into smaller ones?  I am adding Baremetal and Hooman (https://github.com/shps) would like also to contribute on OpenStack because it is related to what he has done in his project and also for the future features such as multi-cloud, therefore there must be some coordination between the design to avoid conflicts and also in case more than one person wants for wor

[2015-05-15 09:08] kamalhakim commented on #53
@shps

[2015-05-15 09:29] alorlea commented on #53
One way I see, on splitting, I see we have the following:

- On client, interpret the OpenStack structure in YAML document and load it so it can be used similarly as EC2.

- Backend side, interpreting the information as we did with EC2 and do the respective calls to openstack using the Jclouds API abstraction.

About Jclouds, it has 2 sides of the coin.

On the bad side, I checked the documentatio

[2015-05-15 09:55] alorlea commented on #53
@shps @kamalhakim @jimdowling maybe we could have a meeting to discuss this further?

[2015-05-15 10:04] jimdowling commented on #53
Yeah sure. We're in Kista today?

On 2015-05-15 11:55, Alberto Lorente Leal wrote:

[2015-05-15 10:24] jimdowling commented on #31
Resolved by #56.

[2015-05-15 10:24] #31 closed

[2015-05-15 10:33] kamalhakim commented on #53
Im here..

[2015-05-15 10:58] shps commented on #53
I'm here as well.

[2015-05-15 11:04] alorlea commented on #53
Cool, maybe I can pass by. I can hopefully get out of work at 16:00 or maybe a bit earlier.

If you guys prefer, we can have it through skype.

[2015-05-15 14:20] alorlea commented on #53
Will be around there soon, arriving Kista metro station.
On 15 May 2015 12:58 pm, "Hooman Peiro Sajjad" <notifications@github.com>
wrote:

[2015-05-15 14:27] shps commented on #53
I left the office. I can attend over Hangout/skype.

[2015-05-15 18:19] kamalhakim opened #62 "Support for Google Compute Engine (GCE)"
We need a support for Google Compute Engine in the following levels in order:

1. The launcher similar to https://github.com/karamelchef/karamel/blob/master/karamel-core/src/main/java/se/kth/karamel/backend/launcher/amazon/Ec2Launcher.java class, it must has all the required phases of the cluster like _precleaninng_, _forkgroups_, _forkmachines_, _purge_ . This class should be tested in isolation

[2015-05-15 20:16] #60 closed

[2015-05-16 05:46] jimdowling commented on #17
Closing. This is a Berkshelf problem. I have this problem building in Jenkins. The solution is to do the following:
export LANG=en_US.UTF-8
kitchen test

[2015-05-16 05:46] #17 closed

[2015-05-16 05:58] jimdowling commented on #57
Fixed by #63

[2015-05-16 05:58] #57 closed

[2015-05-18 05:28] jimdowling opened #65 "Checkstyle support for consistent formatting of code"
Paris Carbone suggested this. Good idea.
Here's the links, comments below:
https://github.com/apache/flink/tree/master/tools/maven
https://raw.githubusercontent.com/apache/flink/master/pom.xml

You can use the `maven-checkstyle-plugin` to enforce formatting, it gets convenient as you get more contributors. [Here](https://github.com/apache/flink/tree/master/tools/maven) are the configurations we us

[2015-05-18 07:23] kamalhakim opened #66 "Shell emulator doesn't work for password protected ssh-keys"
If ssh-key is password protected and having password provided by the user, SshMachine goes through however SshShell doesn't work. This happened after #60

[2015-05-18 07:27] kamalhakim opened #67 "Cleanup tests"
Any env dependent tests (Ec2, IO ...) has to be moved into another project/folder ..

[2015-05-18 07:32] jimdowling commented on #60
Did you test this? Because I pushed code to set the password for the shell emulator the other day. I didn't test it, but it's the same as the SshMachine code.

[2015-05-18 07:33] kamalhakim opened #68 "Runtime modifiable configuration for Karamel System"
Karamel system should read all the configuration parameters that are defined in the Settings class from a file (karamel.xml/karamel.properties) from the .karamel folder.

[2015-05-18 07:35] kamalhakim commented on #60
No, I will test it and close the issue..

[2015-05-18 08:04] alorlea commented on #45
We already have mockito in place for tests, I recommend having a read on their site: http://mockito.org/
People can get a grasp of how this is used also in the tests I am writing for openstack features.
This will make it easier to mock external dependencies that might make testing a hell of a process.

[2015-05-18 11:03] kamalhakim opened #69 "Generating result recipes must be specified in the metadata.rb"
Generating result recipes should rather be defined in metadata than interpreting IOException throwing scp as no-result recipe..

[2015-05-18 11:09] jimdowling commented on #69
Let's argue this.
Proposal: should we use metadata.rb to define return types:
For:
 - No IOException at the Karamel client.
Against:
- Currently, a return value is generated by a LWRP in Chef. We would need to add a line to metadata.rb as well. If a user forgets to add it to metadata.rb, the recipe won't result in a return value.

We have loads of things to do right now, and unless we document all

[2015-05-18 11:20] kamalhakim commented on #69
:+1: sure, I am just throwing everything here that I come across to avoid forgetting them.. Feel free to help improving the description.

[2015-05-18 15:17] kamalhakim commented on #65
@senorcarbone the tab regex in checkstyling of flink doesn't seem to be correct.. It matches just spaces as well..

[2015-05-18 15:47] senorcarbone commented on #65
Indeed but if I recall correctly it was intended to be loose for the Java checkstyle at least.

[2015-05-18 15:51] shps commented on #62
Here is the [JClouds' GCE support](https://github.com/jclouds/jclouds-labs-google/tree/master/google-compute-engine):

[2015-05-19 07:42] kamalhakim commented on #65
@jimdowling @alorlea @shps
There is tones of styles we can include in the project but if we include all now it will make a huge work to fix all of them. I would suggest we start with those styles that are important now, and eventually we can add more. I have these items in mind, what do you think ?

Line length
Indention width
No tab leading line

By the way, one I apply any style I need to fix it

[2015-05-19 07:49] kamalhakim commented on #65
I personally would like to select such values for line-length and indention-width that makes the most of my screen space and avoids scrolling as much as possible. On the other hand it shouldn't be that wide that fits into a normal screen as well. So for me line-length=120 and indention-width=2 is best.

[2015-05-19 07:55] alorlea commented on #65
I would say, just keep it standard on terms of style, 120 line length for me is fine.

[2015-05-19 08:09] kamalhakim opened #70 "Support for baremetal"

[2015-05-19 17:55] jimdowling commented on #11
Changed ec2 to aws in UI by commit 00dc4616bf91356878bdea73aa829d161c0a256a . Havent touched 'ec2' or  'image' in yml file.

[2015-05-20 20:14] jimdowling commented on #66
This should work now. Does it?

[2015-05-20 20:17] jimdowling opened #71 "Node-level Recovery - Restart the state of the DAG on restart."
We would like to be able to shutdown Karamel, restart it and it would continue to work from the place where we shut it down.
We need to break it down into smaller parts.
What state needs to be persisted? SshMachine, MachinesMonitor, ClusterManager, Provider, others?

How do we persist state? As POJOs using the serializable interface?

[2015-05-22 13:38] tmoliveira opened #72 "Problem configuring the cluster"
Hello,

I have encountered what seems to be a bug when using karamel to configure and then run a cluster. One of my application attributes that users must fill in karamel Configure tab is the credentials to access the clouds (access key and secret key). The problem is that the secret key for Windows Azure that I put on a field of the Karamel Configure interface is not the same that i see when chec

[2015-05-23 23:08] jimdowling commented on #72
@kamalhakim  - can you look at this? Is there a logging option to printout the cookbook params to the log, so that we can check that core has the right string? Are we escaping the string anywhere?

[2015-05-27 10:07] alorlea opened #73 "Replace null checks with Optional"
I have seen around the code that we do null checks and usually it leads to very bad antipatterns making later the code difficult to fix bugs due to null.

One nice way to get rid of this is by using Google's Guava Optional or Java 8 Optional leading to better and clearer code.

https://www.voxxed.com/blog/2015/05/why-even-use-java-8-optional/

I recommend, we try to use it in our code and even wil

[2015-05-27 10:40] jimdowling commented on #73
I don't know if we want to require java 8. This is a desktop application, and the vast majority of people don't have java 8, but do have java 7. Java 7+ is a requirement right now. But Google's Guava optional sounds like a good idea. Do you fancy adding this in your branch?

[2015-05-27 11:51] alorlea commented on #73
I understand, still we should try to have in mind a transition when we can to Java 8 as Oracle dropped support on that platform on april this year http://www.oracle.com/technetwork/java/eol-135779.html

I will try add this in my current branch.

[2015-05-28 11:35] kamalhakim commented on #70
https://github.com/karamelchef/karamel/commit/189efe54ae9c0d5064cce2717e3dc63ce8a81f89

[2015-05-28 11:36] #70 closed

[2015-05-28 12:13] kamalhakim commented on #73
Yes, we should use Guava more.. I will add a developers guide part in the Readme, there we can enumerate those preferred practices for everyone.

[2015-05-28 12:15] kamalhakim commented on #53
@alorlea can you please merge master into your branch asap.. I made some changes when I added Baremetal.

[2015-05-28 21:27] #65 closed

[2015-05-31 21:54] alorlea commented on #53
I am in the middle of a huge merge hell. Karamel-ui is broken and the maven checkstyle does not seem to work at least in windows.

Until I fix all this mess, I do not know when I will resume this development

[2015-06-01 06:51] kamalhakim commented on #53
Sorry, it was a big refactoring.. maybe it is easier if you fork a fresh master branch and then add your newly added clases on it.
For checkstyle to work you should install the new karamel-build project once.

[2015-06-01 09:10] alorlea commented on #53
Don't worry, I managed to push the fixed branch. Not a good idea to fix merges late at night.

[2015-06-07 09:19] jimdowling commented on #67
The unit tests work. If we set environment variables, we can run EC2 tests: AWS_ACCESS_KEY and AWS_SECRET_KEY

[2015-06-07 09:19] #67 closed

[2015-06-07 09:19] jimdowling commented on #11
Done.

[2015-06-07 09:19] #11 closed

[2015-06-29 14:01] shps commented on #62
Merge pull request #79

[2015-06-29 14:03] shps commented on #62
GCE Alpha Version #79

[2015-06-29 14:41] marcbux opened #80 "Karamel does not work in region us-east-1"
An error occurs when specifying to launch a cluster in us-east-1 (N. Virginia), using the following attributes:

ec2:
    type: c3.2xlarge
    region: us-east-1

The error is as follows:

user is FORKING_MACHINES List of failures:
   ____________________________________________________________________________________
   | Failure             | Id          | Message

[2015-06-29 16:47] marcbux opened #82 "Karamel cluster launch not terminating after recipes succeeded."
When running the RNAseq.yml from https://github.com/marcbux/hiway-chef, all the recipes succeed and are marked as DONE. However, Karamel does not terminate and the task status stays at ONGOING.

hiway is INSTALLING
_____________________________________________________________________________________________________
| Machine                  | Public IP   | Private IP | SSH Port| SSH User| Life St

[2015-06-30 06:54] kamalhakim commented on #80
Problem is availability of images in regions, both "ami-0307ce74" and "ami-47a23a30" belong to eu-west-1 (Ireland) and not available in other regions.

[2015-06-30 07:06] kamalhakim commented on #80
I tried this and it works:

ec2:
    type: c3.2xlarge
    region: us-east-1
    image: ami-d05e75b8

[2015-06-30 13:34] marcbux commented on #80
Thanks for looking into this. Strangely, the parameters that worked for you do not work for me.

Parameters:

ec2:
    type: c3.2xlarge
    region: us-east-1
    image: ami-d05e75b8

error:
could not get imageId(us-east-1/ami-0307ce74)

Maybe I am using the wrong version of Karamel? I'm running the latest Github master branch.

[2015-06-30 13:47] #82 closed

[2015-06-30 14:42] marcbux commented on #80
I've downloaded the latest jar from karamel.io and the issue persists. When launching karamel in debug mode in my IDE, I can see that the image is null and is thus replaced with the default value. I guess it has something to do with the parsing of the yaml file. Maybe there's an error in my yaml file. Can you try running my yaml? It is located at https://github.com/marcbux/hiway-chef/blob/master/R

[2015-06-30 15:00] kamalhakim commented on #80
Do you run it with Karamel Web UI or API ?

[2015-06-30 15:02] marcbux commented on #80
I run it with the Web UI, usually by
invoking se.kth.karamel.webservice.KaramelServiceApplication.main()

On Tue, Jun 30, 2015 at 5:00 PM, Kamal Hakimzadeh <notifications@github.com>
wrote:

[2015-06-30 15:08] kamalhakim commented on #80
Oh sorry I misunderstood, it must be something with UI then.. I will fix it now

[2015-06-30 15:34] #80 closed

[2015-06-30 15:38] kamalhakim commented on #80
New fix was pushe.. It was key mismatch between the UI and core, please change "image" keyword to "ami".

ec2:
    type: c3.2xlarge
    region: us-east-1
    ami: ami-d05e75b8
    price: 1

[2015-07-01 09:56] marcbux commented on #80
I am sorry to say, but after pulling the latest changes and building
karamel, it still does not work for me. Have you tried running the
hiway.yml in karamel-core/src/test/resources/se/kth/hop/model from the web
UI?

If, after I loaded the hiway.yml and ran into the error, I go to the
Karamel console and enter "yaml", I get the following output:

name: hiway
ec2:
  price: 1.0
  region: us-east-1

[2015-07-01 10:03] kamalhakim commented on #80
Yes I did run that hiway.yml from the UI, let me test it again..

[2015-07-01 10:43] kamalhakim commented on #80
Sorry @marcbux, i hope it works this time.

[2015-07-01 11:00] marcbux commented on #80
Works like a charm - thanks a lot!

On Wed, Jul 1, 2015 at 12:43 PM, Kamal Hakimzadeh <notifications@github.com>
wrote:

[2015-07-01 11:08] kamalhakim commented on #80
:+1:

[2015-07-01 12:13] shps opened #83 "Using internal IP addresses for installation rather than external ones"
Giving **external IP** addresses to all the VMs is a good way to access them by an external machine, where Karamel service resides. However, there are drawbacks with doing so:

1. There is a limited quota for using external IPs. For example, in Google Compute Engine, by default, it is allowed to use 23 external IPs.
2. SSH connections are slower from an external network (ping time 15ms). VMs have

[2015-07-01 15:29] marcbux commented on #82
It works, ty for the fix

[2015-07-01 20:35] kamalhakim commented on #83
I can think of three solutions, sorted by required effort:

1. Having one vm with public ip and ssh to all others through that
2. Dedicate one vm in the cloud to run karamel there
3. Decentralised Karamel, get rid of extra/remote node for karamel

[2015-07-06 12:35] stigviaene opened #84 "Error on deploying Hops cluster from examples"
When trying to deploy the cluster defined by the file hops-1node-aws-m3-med.yml in the examples , I get an error, given below. Any ideas?

	ERROR [2015-07-06 11:47:04,546] se.kth.karamel.backend.ClusterManager:
	! java.lang.NullPointerException: null
	! at se.kth.karamel.backend.running.model.tasks.DagBuilder.makeRecipeTask(DagBuilder.java:125) ~[karamel-core-0.1.jar:na]
	! at se.kth.karamel.backe

[2015-07-15 07:49] kamalhakim commented on #84
@stigviaene did you get to run it? Something might have been wrong in the Karamelfile

[2015-07-15 09:12] #84 closed

[2015-07-15 14:11] kamalhakim commented on #72
That was related to GsonBuilder, by default it scapes html characters.

[2015-07-15 14:17] #72 closed

[2015-07-16 13:41] kamalhakim opened #85 "Identify and collect cost-related data about cloud resources from Amazon EC2"
Provided information by Cloud-providers is one source of input data for the recommendation system. For instance current price of each resource plus its change distribution over last 3 months. First Identify which data items are provided in Amazon REST-API and then write a program to collect those data.

[2015-07-17 12:53] #73 closed

[2015-07-17 13:16] kamalhakim commented on #66
It works.

[2015-07-17 13:17] #66 closed

[2015-07-17 13:40] kamalhakim commented on #12
Attributes are cookbook level to Karamel, it doesn't know which recipe uses which attribute. While user have a cookbook reference defined in the _cookbooks_ section of the cluster definition, user can use its attribute in the global level but not in the group level unless at least a recipe from that cookbook is added into group. This is handled in the yaml but not in the designer, we even don't ha

[2015-07-17 14:45] kamalhakim commented on #54
It happens for the dummy DAG (not running cluster) and for first 5 seconds when we fetch the real DAG (running cluster). For the real DAG it becomes okay when it refreshes the DAG.

[2015-07-17 14:48] #55 closed

[2015-07-17 14:51] kamalhakim commented on #45
I consider this done, I will add in our guidelines.

[2015-07-17 14:51] #45 closed

[2015-07-20 12:27] #8 closed

[2015-07-20 13:48] #40 closed

[2015-07-21 08:29] #39 closed

[2015-07-21 08:45] kamalhakim commented on #85
@mhsina any progress on this?

[2015-07-21 09:22] kamalhakim commented on #3
@jimdowling have you possibly done anything about this in your own branch?

[2015-07-21 11:03] jimdowling commented on #59
This feature only partially works. It will always close the java agent and tray-icon.
If a cluster hasn't been loaded, it  will also close the browser tab. However, if a cluster has been loaded, it won't close the window, due to javascript security restrictions (javascript has been loaded from a different domain, i think). I should add a sweet notification that the user should close the browser wi

[2015-07-21 11:04] jimdowling commented on #22
This issue was closed. No point assigning it to me!

[2015-07-21 11:05] jimdowling commented on #3
No, this is core work. I was leaving it to you.

[2015-07-21 11:09] kamalhakim commented on #3
Ok, I will fix it thanks.

[2015-07-21 12:53] marcbux opened #86 "Add support for proxy usage"
To be able to connect to (baremetal) machines not reachable from outside, it would be desirable if Karamel allowed to connect via a proxy, similar to, SSH clients like, e.g., PuTTY.

[2015-07-21 12:55] marcbux opened #87 "size attribute confusing in baremetal mode"
When setting "size: 0" in a group, Karamel still attempts to connect to all ips specified in the "ips" attribute? The "size" attribute not having any functionality in baremetal mode, but still being available for specification, is a little bit confusing.

[2015-07-21 13:01] jimdowling commented on #86
This is non-trivial. Any suggestion for how to do it? If you mean ssh-tunnelling, then we would have to separate the endpoint we connect to from the IP address that is used to configure services.

[2015-07-21 13:17] marcbux commented on #86
I agree that ssh-tunneling might be out of scope / not worth the considerable effort., but I wanted to bring it up anyway as a nice-to-have feature.

The motivation on this: We currently have a guest researcher from Turkey at our institute. He would like to run our cookbooks on their infrastructure in Turkey. These machines are not reachable from outside however. Hance, when connecting to the mach

[2015-07-22 08:24] kamalhakim commented on #87
Yes, will fix it today. I will add port (ssh-port) in the definition as well just for baremetal, does it make sense?

[2015-07-22 21:55] #37 closed

[2015-07-23 11:29] marcbux opened #88 "Baremetal authentication problems"
To have an even easy-to-handle test environment, I created a new VM on my laptop. In this VM, I downloaded and ran karamel on the base-bare.yml found at https://github.com/marcbux/hiway-chef. According to this configuration, cookbooks are to be installed on the same machine (127.0.0.1), so passwordless ssh is a non-issue. Nonetheless, I could not get it to run.

If user hiway was not a sudo user a

[2015-07-23 11:45] kamalhakim commented on #88
@jimdowling I think we should remove this task, "sudo -n su" or "sudo -n true", from the DAG, it doesn't help to get any information if you haven't already run "sudo su".

[2015-07-23 11:51] kamalhakim commented on #88
I excluded that task to make it clear later. @marcbux can you test it now?

[2015-07-23 12:06] marcbux commented on #88
Is the latest build online on karamel.io? I can't seem top compile it in Linux, since I get the following error when running mvn package:

[ERROR] Failed to execute goal com.akathist.maven.plugins.launch4j:launch4j-maven-plugin:1.7.7:launch4j (l4j-clui) on project karamel-ui: Failed to build the executable; please verify your configuration. net.sf.launch4j.ExecException: java.io.IOException: Canno

[2015-07-23 13:09] kamalhakim commented on #88
Yes you can get the latest build from karamel.io

I don't get that error.. try to clean and build from maven

[2015-07-23 13:20] jimdowling commented on #88
It looks like maven didn't download the launch4j plugin. Launch4j is only needed to build the windows .exe version. It's a maven plugin that's run in the package phase. If you run:
mvn install
it will build jars, but not run the package phase.

This is still an error that shouldn't happen.

[2015-07-23 13:21] jimdowling commented on #88
I just generated a new binary release from the master branch for karamel.io.

[2015-07-23 13:45] marcbux commented on #88
Since the new binary release, we can't klick any buttons in Karamel on one of our computers any more (it still works on another one, both run Ubuntu). Any recent changes that might have caused this?

[2015-07-23 13:47] marcbux commented on #88
Update: When running maven clean install, I run into the same error

[2015-07-23 13:49] kamalhakim commented on #88
What is browser of the non-working computer?

[2015-07-23 13:51] marcbux commented on #88
Mozilla Firefox 39.0 on both computers.

[2015-07-23 13:55] jimdowling commented on #88
If you open the browser and press "ctrl-shif-j", it opens an errors window for the browser console. Cut and paste the red bits that you find in there.

[2015-07-23 14:10] joergen7 commented on #88
The stylesheet http://localhost:9090/karamel/styles/angular-block-ui.css.map was not loaded because its MIME type, "text/html", is not "text/css".

downloadable font: gasp: changed the version number to 1 (font-family: "Quicksand" style:normal weight:normal stretch:normal src index:2) source: http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2

[2015-07-23 14:11] jimdowling commented on #88
Those errors are not a problem.  The first map isn't needed. The font is just a google font for Karaml logo in the top lef - a default one will be used if it can't download it. No "Controller" errors or anything else?

[2015-07-23 14:15] kamalhakim commented on #88
MIME type is "text/css" for "angular-block-ui.css.map"

Did you try to refresh your page? (ctrl+f5)  I would say it is a cache problem in your browser.

[2015-07-23 14:16] kamalhakim commented on #88
And close all old Karamel pages when you re-run it.

[2015-07-23 14:18] joergen7 commented on #88
We even rebooted.

[2015-07-23 14:19] joergen7 commented on #88
no difference on refresh (ctl-f5)

[2015-07-23 14:21] joergen7 commented on #88
It seemed to run fine for a while. Could the new release be behind the problem?

[2015-07-23 14:22] kamalhakim commented on #88
Somethings is filtering mouse events, try this url and try the bottons on the terminal page. How about if you write in the command text area?

 "http://localhost:9090/index.html#/terminal"

[2015-07-23 14:24] joergen7 commented on #88
The light-blue buttons work fine. The text area also works. It's just the top main menu bar that does not respond.

[2015-07-23 14:25] kamalhakim commented on #88
Do you see any error/warning in your javascript console of the browser ?

[2015-07-23 14:30] joergen7 commented on #88
The JS console does not show any new entries on clicking the menu. The errors are the same as previously shown plus this one:

GET
http://localhost:9090/favicon.ico#-moz-resolution=16,16 [HTTP/1.1 404 Not Found 1ms]

[2015-07-23 14:32] kamalhakim commented on #88
I have no idea!! I built it again.

[2015-07-23 14:33] kamalhakim commented on #88
How about the original bug, could you guys get it working on the other computer?

[2015-07-23 14:37] jimdowling commented on #88
GET
http://localhost:9090/favicon.ico#-moz-resolution=16,16 [HTTP/1.1 404 Not Found 1ms]

This is not a problem. It's just looking for a favicon.ico file that we don't have (the little icon shown in the URL bar). If it's not logging an error in the browser, then something may be happening in the core. I would step through it to find out what's happening.

[2015-07-23 14:40] kamalhakim commented on #88
I don't think it gets that far to the core, because apparently it doesn't capture any mouse event on buttons.. I guess it even doesn't show any popup dialog. Is that right @joergen7 ?

[2015-07-23 14:42] joergen7 commented on #88
On hovering it inverts the button's color, but that's all the reaction I get. Trying out different browsers now.

[2015-07-23 14:45] marcbux commented on #88
Sorry for hijacking this ticket. Let me give you updates on all the issues discussed here:

(1) The original issue that caused baremetal installations to halt at "test sudo password" is resolved. We were able to install saasfee bot in my local VM and on our guest researcher's external server.
(2) The second issue that caused maven package as well as maven install to fail persists.
(3) The third (v

[2015-07-23 14:50] joergen7 commented on #88
(3) Konqueror 4.14.6 and Epiphany 3.14.2 have the same problem. Dillo 3.0.4 won't show the web interface at all (which doesn't really surprise me)

[2015-07-23 14:50] kamalhakim commented on #88
New ticket is a good idea @marcbux would be great if you do that. Let's close this ticket since it is already resolved.

[2015-07-23 14:51] #88 closed

[2015-07-23 14:51] jimdowling commented on #88
Why not try a normal browser like Chrome?
We are using AngularJS, so there are many places this problem can come from.

[2015-07-23 15:02] marcbux opened #89 "Error during Maven build"
I get the following error when running mvn package:

[ERROR] Failed to execute goal com.akathist.maven.plugins.launch4j:launch4j-maven-plugin:1.7.7:launch4j (l4j-clui) on project karamel-ui: Failed to build the executable; please verify your configuration. net.sf.launch4j.ExecException: java.io.IOException: Cannot run program "/home/hiway/.m2/repository/net/sf/launch4j/launch4j/3.8.0/launch4j-3.8.

[2015-07-23 15:02] joergen7 commented on #88
Chromium 43.0.2357: same result.

[2015-07-23 15:03] marcbux commented on #89
It looks like maven didn't download the launch4j plugin. Launch4j is only needed to build the windows .exe version. It's a maven plugin that's run in the package phase. Unfortunately, when running maven clean install, I run into the same error.

[2015-07-23 15:04] joergen7 commented on #88
Apparently the issue has been closed ):

[2015-07-23 15:05] marcbux opened #90 "Not able to click buttons in karamel ui"
Since the new binary release, we can't klick any buttons in Karamel on one of our computers (running Ubuntu 15.04) any more (it still works on another one, running Ubuntu 14.04). Any recent changes that might have caused this?

Mozilla Firefox 39.0 on both computers.

Errors from browser console:
The stylesheet http://localhost:9090/karamel/styles/angular-block-ui.css.map was not loaded because it

[2015-07-23 15:06] marcbux commented on #90
I don't think this issue is browser-related since it did work on another computer with Firefox 39.0. Just before the latest binary was pushed to the website, it did work for us, so it probably was quite a recent change that caused the issue.

[2015-07-23 15:11] marcbux commented on #14
Any news on / plans for this? I have a cookbook that prepares a large NGS workflow. I would like to run this workflow in 1-2 weeks.

If we had support for arrays, I could configure the size of the workflow during launch time isntead of having to hard-code it into the recipes.

[2015-07-23 15:15] kamalhakim commented on #14
I can make it up to you till then, right now I have some issues in my hand will start on this after them.

[2015-07-23 15:24] kamalhakim commented on #88
Sorry @joergen7 let's continue here https://github.com/karamelchef/karamel/issues/90

[2015-07-23 15:25] marcbux commented on #14
Thank you, having this feature would be awesome!

[2015-07-23 15:27] kamalhakim commented on #90
@joergen7 I really don't know how to reproduce this problem, do you possibly have public IP that I can connect to  your karamel with my browser ?

Btw, I rebuit it an hour ago, can you test it with that also?

[2015-07-23 15:32] marcbux commented on #89
This issue should be reproducible fairly easy. On a fresh Ubuntu 14.04 VM, just run

sudo apt-get install -y maven git
git clone https://github.com/karamelchef/karamel.git
cd karamel
mvn install

[2015-07-23 15:36] joergen7 commented on #90
It works now. Thanks for the rebuild.

[2015-07-23 15:40] marcbux commented on #90
Maybe it had something to do with who built the binary? Maybe it will stay a mystery to us though. Anyway, great that it works again.

Some background on why we're digging out all these issues today: we're creating some saasfee screencasts (on different computers) for the saasfee website and karamel is a special guest in one of them (:

[2015-07-23 16:48] kamalhakim commented on #90
Great guys, yes we have some variables here: who builds it, on which os and who runs it on which os.
Good that you figure out these kind of issues, we appreciate it :)
I will close this then.

[2015-07-23 17:03] #90 closed

[2015-07-23 18:10] jimdowling commented on #89
Ok, i checked this out and think I fixed it.
I had a dependency on a repo and replaced it with a maven dependency. I pushed it straight to the master and I did a new release to karamel.io. Let me know if it's still a problem.

[2015-07-24 08:12] marcbux commented on #89
Unfortunately, it still doesn't work for me. This is the error mesage in more detail:

[ERROR]
net.sf.launch4j.BuilderException: net.sf.launch4j.ExecException: java.io.IOException: Cannot run program "/home/hiway/.m2/repository/net/sf/launch4j/launch4j/3.8.0/launch4j-3.8.0-workdir-linux/bin/windres": error=2, No such file or directory
	at net.sf.launch4j.Builder.build(Builder.java:146)
	at com.aka

[2015-07-24 10:54] jimdowling commented on #89
I have tried to replicate this without any success. I added another dependency, but I am not sure if this will work. Does the path
/home/hiway/.m2/repository/net/sf/launch4j/launch4j/3.8.0/
exist?
Does the file exist:
/home/hiway/.m2/repository/net/sf/launch4j/launch4j/3.8.0/launch4j-3.8.0-workdir-linux/bin/windres

I added explicitly the dependency to this package, although it should have been pu

[2015-07-24 23:21] #62 closed

[2015-07-25 06:36] jimdowling commented on #89
I understand what the problem is now. It's because launch4j plugin uses 32-bit binaries to build itself:
http://sourceforge.net/p/launch4j/feature-requests/74/
I changed the pom.xml to put the launch4j plugin into the -Dwin profile.
I updated the README.md to explain the convoluted way to build on Ubuntu.

[2015-07-25 06:36] #89 closed

[2015-07-28 12:02] marcbux commented on #89
Thanks, it works smoothly now!

[2015-07-28 12:36] marcbux commented on #90
By the way - we ran into the issue with non-working buttons on another computer (also Ubuntu & Firefox) today. It happened with the latest version of the karamel binaries from the website. The issue persisted even when we compiled the binaries of the latest github build ourselves. We then switched to Windows, where we did not have any problems.

[2015-07-28 14:50] #33 closed

[2015-07-29 20:04] kamalhakim commented on #87
I prefer to handle this with validation now because size is related to groups and ip-address to providers. If we wanna do this it means we have to check if the provider is bare-metal then hide the size from group definition, we should handle it in the UI as well. To me right way is to have two levels of cluster definition: logical and physical.  size is related to the logical level definition whil

[2015-07-29 20:10] kamalhakim commented on #14
@marcbux attributes doesn't have type like int/float/string.. we treat everything as string and that's enough for recipes i suppose. Is that okay if we have array of strings? can you give me a specific example here ?

[2015-07-29 20:19] jimdowling commented on #87
Kamal, this needs to be done. I already have a check on the provider type in the exp_designer branch. Hopefully will be ready for merge next week. It's easy to hide the size from group defn or calculate it in the UI.

[2015-07-29 20:24] kamalhakim commented on #87
It is done then, because it is just the user experience issue and core will take care of that by validation. If UI takes away that possibility then core just double checks the definition and make it sure by validation.

[2015-07-29 20:25] jimdowling commented on #87
We have to be DRY for the custer defn. Entering a size attribute is not DRY.

[2015-07-29 20:28] kamalhakim commented on #87
Can you explain me what is your solution? you want me to define two different group types in cluster definition model?

[2015-07-29 20:31] kamalhakim commented on #87
If you are taking this from Language design point of view, I think this is semantic not the syntax.. semantic check is done by validation.

[2015-07-29 20:48] jimdowling commented on #87
Let's take the discussion off-line on how to fix this, but the size attribute is repetition and will introduce bugs.

[2015-07-30 14:50] marcbux commented on #14
Sure. I have a variant calling workflow template (https://github.com/marcbux/hiway-chef/blob/master/templates/default/variantcall.cf.erb) in which a set of genomic reads from the 1k genomes project is aligned against a set of chromosomes. To be able to adjust the genomic reads that are to be aligned without having to change the template every time, the value for the genomic reads is specified in t

[2015-07-30 15:12] kamalhakim commented on #14
Thanks for your nice explanation, yes you are right.. the cause of that error is because we don't have support for arrays in Karamel yet, I am working on it now will be out soon, just wanted to make sure about all conversions that you are expecting.

[2015-07-31 15:46] mhsina commented on #85
Pushed a commit to the costmodel branch.
It retrieves spot price history from aws-ec2

Note : I guess I have to fix my formatter template in Netbeans

[2015-07-31 16:11] kamalhakim opened #94 "Integration test configuration (fail-safe plugin)"

[2015-07-31 16:37] kamalhakim commented on #85
Ok, great.. Can we also collect the total cost of a cluster per machine type?

[2015-07-31 19:03] jimdowling commented on #85
Hi Sina. We should move this code to the server. There is an outline of a server in the "CandyStore" project - see https://github.com/karamelchef/CandyStore. The server will be pulling the spot price data, not the Karamel client.

[2015-08-03 16:20] davidgin opened #95 "Error parsing ambari example stable yaml, class se.kth.karamel.client.model.Ec2 missing 'image' propertry"
When loading examples/stable/ambari-5node-aws-m3-med.yml
The exception thrown is at org.yaml.snakeyaml.constructor.Constructor$ConstructYamlObject.construct(Constructor.java:331) ~[snakeyaml-1.11.jar:na]
! ... 61 common frames omitted
! Causing: org.yaml.snakeyaml.constructor.ConstructorException: null; Can't construct a java object for tag:yaml.org,2002:se.kth.karamel.client.model.yaml.YamlCluste

[2015-08-03 20:53] #95 closed

[2015-08-03 21:20] marcbux opened #97 "Error during clone and vendor step"
Occasionally (for about every twentieth VM launch or so), when running Karamel in Linux 14.04, I get an error during the clone and vendor step:

1. | TASK_FAILED| 5ce08a97-0843-4211-8154-42b652f766b2| Incompleted command 'cd /tmp/cookbooks/hiway-chef && sudo berks vendor berks-cookbooks|

10. | clone and vendor https://github.com/marcbux/hiway-chef        | FAILED | 52.18.189.195| log|

When looki

[2015-08-03 21:21] marcbux commented on #97
The issue is a little hard to replicate, but when launching the yaml at http://saasfee.informatik.hu-berlin.de/download/saasfee_distributed_ec2.yml for about ten worker nodes, yxou should run into it.

[2015-08-03 21:25] marcbux opened #98 "TimeoutException in sshj because of too many open sessions"
When running the yaml http://saasfee.informatik.hu-berlin.de/download/saasfee_distributed_ec2.yml, I frequently (= every time for the last ten times) run into the issue of one or two VMs being stuck at the apt-get essentials step:

    _______________________________________________________________________________________________
    | Task

[2015-08-03 22:30] jimdowling commented on #97
Actually, we had this problem before. It's a Berkshelf bug:
https://github.com/berkshelf/berkshelf-api/issues/112

The fix is to include this in the environment:
(1)
export LC_ALL=en_US.UTF-8
or update the Berksfile as follows:
(2)
Encoding.default_external = "UTF-8"
source 'https://supermarket.chef.io'
metadata

The issue we have atm is that, we run lots of commands the same way as "sudo ....".
T

[2015-08-04 00:19] #14 closed

[2015-08-04 10:17] jimdowling commented on #98
I have no idea about this. I guess the fix should be that Karamel will a button to allow users to retry failed tasks. It isn't there yet.

Here are the steps that are executed:
%sudo_command% apt-get update -y
%sudo_command% apt-get update -y
%sudo_command% apt-get install -f -y --force-yes git
%sudo_command% apt-get install -f -y --force-yes curl
%sudo_command% apt-get install -f -y --force-yes m

[2015-08-04 10:57] kamalhakim commented on #98
"READY" means machine hasn't picked up the task yet, it could that ssh connection is not established or machine thread is died for some reason. It is a bit fishy and hard to find out but I will try to debug it with your yaml.

[2015-08-04 16:18] marcbux commented on #98
Cheers, I appreciate it. This has really given me some headaches over the last two weeks.

Could it be that it has something to do with my Ubuntu VMs not having enough resources to keep all threads and ssh connections alive? I find it quite weird that I never observed this issue on my (way more powerful) Windows machines.

[2015-08-04 16:20] marcbux commented on #97
Thanks for the quick & helpful response.

I can change the Berksfile of my cookbooks, so fix (2) should be best-suited for me. I'll push the fix asap.

If I got this right I would change the first three lines in my Berksfile from

    source "https://api.berkshelf.com"

    metadata

to

    Encoding.default_external = "UTF-8"
    source 'https://supermarket.chef.io'
    metadata

Right?

Is it in

[2015-08-04 17:07] jimdowling commented on #97
Yes, that's the fix. You don't have to change to the supermarket.chef.io source - but i think that's the url they want to use in future. I'll push a fix to the apache-hadoop and hops-hadoop repos now.

[2015-08-04 17:09] marcbux commented on #97
Great - thanks! I'll close this ticket then.

[2015-08-04 17:09] #97 closed

[2015-08-05 20:46] jimdowling opened #101 "SCPFileTransfer not working on windows"
This means that the following features are not working on windows:
(1) return values from recipes
(2) experiment results

[2015-08-06 09:09] kamalhakim opened #102 "Don't filter core thrown exceptions in the UI"
We need a proper place/widget in the designer to deliver exceptions happening in the core to user, especially design time errors/exceptions, otherwise user have no idea about core's reflections on user inputs.

[2015-08-06 09:12] jimdowling commented on #102
The place for this is the BoardRestServices.js (wrong name), where  in onError() responses, we just have a popout grunt message with a message on what happened. Otherwise we could add a status bar with error message (like a new navbar.html).

[2015-08-06 09:20] kamalhakim commented on #102
I think the popup is better because most of the time we have another popup open and status bar might not be visible or user doesn't notice. Imagine add recipe popup for instance, if user enters a wrong url for github cookbook.

[2015-08-06 09:22] kamalhakim commented on #3
@jimdowling does this have any effect/fix to do with #100  ?

[2015-08-06 09:26] jimdowling commented on #3
No, i didn't fix this. When parsing URLs on GitHub, we have hardcoded the base and raw URLs. If there is a relative path, we need to fix them. I haven't needed to fix this yet, so haven't done it.

[2015-08-06 09:33] kamalhakim commented on #3
I am working on this and have done it almost. My assumption is that all sub-cookbooks be placed inside "cookbooks" sub-folder and each sub-cookbook is a complete cookbook (we don't need to pick up any file for it from the root repo), here is the yaml example:

[code]
First is my assumption right? Is that all we need for this task?
Second, my question was if I have to take care of anything related

[2015-08-06 09:56] jimdowling commented on #3
I don't think you can rely on the parent folder being called "cookbooks". Mostly it will be, but sometimes not. But if it's too much work to make it configurable, then that's fine.
There's nothing you need to do on exp-designer. You should enjoy your holidays. Nothing dramatic to do right now :)

[2015-08-07 05:17] jimdowling opened #103 "Berksfile group section ignored"
We don't handle groups in Berkshelf. These are now being used by good chef cookbooks.
A group is typically used to define dependencies that are only required for testing, but not necessarily in production. Here is an example of a Zookeeper Berksfile:

source 'https://supermarket.chef.io'

metadata

group :integration do
  cookbook 'apt'
  cookbook 'zookeeper_tester', path: 'test/cookbooks/zookeepe

[2015-08-09 11:29] alorlea commented on #53
After the meeting I had with Kamal, I am going to proceed adding the rest of the layers, I will follow as guidelines, the changes that Hooman did for GCE.

One it is stable, we should try it with an OpenStack system.

[2015-08-09 20:03] jimdowling commented on #53
Great. I just pushed a v big feature this morning. It's a UI for making it easy to write Chef cookbooks (experiments). I just tested merging in the changes to your branch and it looked ok. Is it ok if i push those changes? I also added a bit at the front-end in AngularJS and javascript. Is it ok if i commit and push that merge into your branch?

[2015-08-10 07:54] alorlea commented on #53
If it only affects the client part, (i.e: javascripts), there should be no problem from my side, as I have not reached that part.

Maybe it would be better for me to get the updates from master and merge those changes to my branch? Just thinking there could be some conflicts with it, usually I try to keep my branch updated.

[2015-08-10 07:59] shps commented on #53
Hi Alberto,

If you need any help, you can ping me.

Cheers,
Hooman

On Mon, Aug 10, 2015 at 9:54 AM, Alberto Lorente Leal <
notifications@github.com> wrote:

--
Hooman Peiro Sajjad

Ph.D. student at Royal Institute of Technology (KTH), Sweden
Software and Computer Systems (SCS)
email: shps@kth.se
Web Page: www.kth.se/profile/shps
​My LinkedIn <http://se.linkedin.com/pub/hooman-peiro-sajjad/27/240

[2015-08-10 09:34] marcbux commented on #98
Were you able to replicate the issue with my yaml?
Any other news on this issue?
As is, this issue is preventing me from running experiments with more than three VMs on EC2 (at least when launching Karamel from Linux).

The quickest workaround I think could be to implement a retry-button that would allow the user to completely start over with a VM (beginning with the apt-get essentials step).

[2015-08-10 09:44] kamalhakim commented on #98
Sorry for the late action on this, I will resolve it soon, retry is also in that resolution plan.

[2015-08-10 11:33] marcbux commented on #98
Thanks :)

[2015-08-10 13:41] shps opened #104 "Support for Docker Containers"
This issue addresses the lack of support in Karamel for running distributed applications and experiments in **Linux Containers**. It empowers Karamel, if users can choose between VMs or Containers to run their experiments.

To run the experiments through Containers, a cluster of Virtual Machines will be created. The user decides on the number of VMs. And by a scheduler Linux Containers can be sche

[2015-08-10 14:46] kamalhakim opened #105 "New UI issues"
1. In new UI introduced by exp-designer, most of the time one must click twice on each button or link (at least it is like that on Mac both Chrome and Safari)
2. The drop-down for settings on each column doesn't open at all.

[2015-08-10 15:28] kamalhakim commented on #105
The second issue is resolved in my branch will commit it soon.

[2015-08-10 15:47] kamalhakim commented on #105
@jimdowling any specific reason that you have removed "new.recipe.js" here ?
https://github.com/karamelchef/karamel/commit/42d07a775c25c054b7953c4c6f553c19c90e17f5

[2015-08-10 16:10] kamalhakim commented on #105
I think I recognised what is the cause of the first problem also, it is high refresh rate of the ping that refreshes the whole page every second or so.. thats why sometimes it doesn't capture the mouse events.

[2015-08-10 16:20] #105 closed

[2015-08-10 19:07] jimdowling commented on #105
I removed new.recipe.js because i thought it was a mistake! The name looked like somethin your IDE would create.

Yes, well spotted on the javascript button issue. If i reduce it to 20 seconds or so, it doesn't appear. The problem may be that the ping is coming from HeaderCtrl. I'll look into it. It's fine on ubuntu/chrome or ubuntu/firefox.

[2015-08-10 19:19] alorlea commented on #104
What do you guys think of having a docker image with karamel in docker hub? I think it would be super easy for the potential users to fetch directly the image to try it out? I discussed this with Kamal and I think it would be a good option. Even now for me it would not be so big deal, as I am working actively with docker in my current employeer. @shps @kamalhakim @jimdowling

[2015-08-10 19:19] kamalhakim commented on #105
Well, that's how I had named all js files according to the namings of angular js names. Camel case is mostly used for java classes. Anyways we should agree on namings I guess.

Btw, I have fix for both inmy branch and will come out soon.

[2015-08-10 19:21] jimdowling commented on #104
Guess it could be done, although Karamel is mainly designed as a standalone user app. I guess if people used the REST APIs more, then a docker image would make sense. Or if people use docker the whole time for dev, then maybe that would make sense too.

[2015-08-10 19:28] shps commented on #104
I'm not sure if having Karamel as a Docker image is related to this issue.

[2015-08-10 19:30] kamalhakim commented on #104
To me Docker is a very good feature, quite popular and beneficial to ourselves for quick testing as well. I think you and @shps should talk about it and agree on who does what.

[2015-08-10 20:22] alorlea opened #106 "Create docker image with Karamel as distribution platform"
Recently, I have been involved in experimenting with docker in my current employeer and looking around, I start to see they offer docker images as a form of distribution for github projects.

People could go to docker hub and pull the image directly and run it! It would be a more direct approach if people do not want to download the code and build it, etc.

I think it could be a nice addition to h

[2015-08-12 12:14] kamalhakim commented on #98
I cannot reproduce it @marcbux it works for me both on ec2 and baremetal. Is it just some of the vms stuck or all of them?

[2015-08-12 12:20] marcbux commented on #98
That's what I feared. It is just some of the VMs. Sometimes one, sometimes two, sometimes three. It's only when launching Karamel my Ubuntu 14.04 LTS VMs (2 cores, kinda slow). It runs fine on my Windows machines, even when provisioning more EC2 VMs than specified in the yaml.

What could the issue be? What could lead Karamel to get stuck before issuing the first command? Any type of timout or los

[2015-08-12 12:31] jimdowling commented on #98
If you don't run:
"apt-get update -y"
then ubuntu machines can get stuck when using apt to install packages.
I can see that we call it twice. Is there some reason why 'apt-get update -y' wouldn't succeed?

[2015-08-12 12:58] marcbux commented on #98
The weird thing is that the machines are stuck at "apt-get essentials READY" instead of "apt-get essentials ONGOING". There are also no logs generated by Karamel on the EC2 VMs that run into the issue. Looks to me like the issue arises even before the "apt-get update -y" step :/

[2015-08-12 13:13] jimdowling commented on #98
I normally ssh into the machines and re-run the commands above. That way I find out what the problem is.
apt-get update -y
%sudo_command% apt-get update -y
%sudo_command% apt-get install -f -y --force-yes git
%sudo_command% apt-get install -f -y --force-yes curl
%sudo_command% apt-get install -f -y --force-yes make
%sudo_command% apt-get install -f -y --force-yes expect
git config --global user.na

[2015-08-12 13:19] marcbux commented on #98
Ok, I'll try this the next time I run into the issue (new runs are scheduled for tomorrow) and will see if it provides us with new information.

[2015-08-12 13:21] marcbux commented on #98
A retry button or a config parameter that would allow for tasks to be retried an adjustable number of times before failing would be desirable one way or the other though, no?

[2015-08-12 13:25] jimdowling commented on #98
I agree. Kamal - this is high priority. It's something we've talked about for a long time.

[2015-08-12 14:43] kamalhakim commented on #98
Alright, I will work on the reply and will add something to be able to have more insight about each VM.

[2015-08-12 23:33] #3 closed

[2015-08-19 13:37] marcbux opened #110 "Configuration of cookbook attributes broken"
When loading a YAML-file using the latest Windows binaries of Karamel from the website, the configuration of cookbook attributes does not display correctly:

![image](https://cloud.githubusercontent.com/assets/6670944/9357514/ab43b10a-4687-11e5-8d43-4c4a2a38168e.png)

Note that when building the latest version from GitHub manually, everything displays properly. It seems that the compiled version o

[2015-08-19 13:43] jimdowling commented on #110
I just deployed a new version from the master branch.
If you have time, we have the new experiment feature. Some changes will be made, but it's an easier way to write Chef Cookbooks. Check it out (no docs yet :( ).

[2015-08-19 14:13] marcbux commented on #110
The config attributes are showing now, but in contrast to the version two or three weeks ago, the default values are all gone. Is this intentional?

![image](https://cloud.githubusercontent.com/assets/6670944/9358587/273acb72-468d-11e5-935e-62c6448c0247.png)

[2015-08-19 14:16] jimdowling commented on #110
Nope. Kamal?

[2015-08-19 15:43] marcbux commented on #110
Should we re-open the issue then?

[2015-08-19 15:46] marcbux commented on #98
A little update from my side:

Today, I ran into this issue - or quite a similar one - on Windows for the first time. What happened is that one of the VMs got stuck at

recipe hiway::cuneiform_worker | READY |

despite it being the only remaining recipe on the machine and all dependencies (local and global) fulfilled.

Hence, I have now run consistently into this issue on different computers (lapt

[2015-08-19 15:49] marcbux commented on #98
The problem is that I'm recording screencasts for the Saasfee demo at VLDB in two weeks and for about 10 consecutive times now, I'm stuck in the middle of my screencast because of this issue.

Maybe my internet connections are not 100% stable and the SSH connection to one of the VMs gets lost at some point?

[2015-08-19 16:07] jimdowling commented on #98
@kamalhakim  - can you have a look?

[2015-08-19 16:19] kamalhakim commented on #110
I will have a look at it tonight.

[2015-08-19 16:20] kamalhakim commented on #98
Sure, in a few hours.

[2015-08-19 16:30] jimdowling commented on #98
@kamalhakim - we need retry for recipes badly.

[2015-08-20 07:39] kamalhakim commented on #110
I am on these issues, will update you soon.

[2015-08-20 08:20] kamalhakim commented on #110
@marcbux test please.

[2015-08-20 09:36] marcbux commented on #110
Yay! The default values are back! Thanks (:

[2015-08-20 09:36] #110 closed

[2015-08-20 21:07] jimdowling commented on #98
I could reproduce this on a 5-node cluster. One easy fix would be to set a global property .. numRetries (say 5 by default) and apply it for the Karamel setup tasks (git/build-essentials/chef-dk). However, we would need to set reasonable values for timeout for operations. If they timeout, we would need a new ssh command to kill ongoing operations. Something like this for killing any apt-get proces

[2015-08-20 21:11] jimdowling commented on #98
Or a better soln would be to have a watchdog thread. it would run every say 60 seconds and check if the process launched was still alive. If it was not, it would attempt to restart it (up to say 5 retries).
To do this, we could use 'kill -0 $PID' - it tells you if the process with with process ID $PID is alive or not.
We could again use bash:
ssh ubuntu@1.2.3.4 " PID=ps aux | grep -i apt-get | awk

[2015-08-20 21:21] kamalhakim commented on #98
I could also reproduce it with 5 nodes but in my case it happens at the point of startSession not exec, i mean it is not even getting into running any command yet. Can you attach the exception here?

[2015-08-20 21:22] kamalhakim commented on #98
Another question is why we cannot se core's exceptions in the karamel.log anymore?

[2015-08-21 00:23] kamalhakim commented on #98
A little update:

It happens both at startSession and exec despite that all the timeouts has been set to one day since bug #18 . Since that machine picks up the command up until that those exceptions happens is just few seconds (less than a minute), not even minutes.

This is weird behaviour from SSHJ because we have set all the timeouts to one day. According to https://issues.apache.org/jira/brow

[2015-08-21 00:25] kamalhakim commented on #98
Exceptions for the record:

2015-08-20 10:39:09 ERROR SshMachine:230 - Couldn't excecute command on client '54.74.239.132'
net.schmizz.sshj.connection.ConnectionException: Timeout expired
	at net.schmizz.sshj.connection.ConnectionException$1.chain(ConnectionException.java:32)
	at net.schmizz.sshj.connection.ConnectionException$1.chain(ConnectionException.java:26)
	at net.schmizz.concurrent.Promise

[2015-08-21 07:15] jimdowling commented on #98
Kamal, i had this problem with 5 normal (not spot price) VMS. I don't think switching to non spot-price VMS will help.

We could do retry with increasing timeouts on the connect, like we have on executing the commands.

Looking at the commands, I think we should have a single task for running "apt-get update -y". This way we could support centos. All the cookbooks i've written have both centos and

[2015-08-21 07:18] jimdowling commented on #98
Looking at the code, we are leaking session objects if we retry. We close the session object outside the while loop - my fault.
It should be closed inside the finally. We could define a user-supplied global limit on the number of open session objects. Tasks would wait until they can get a free slot before trying to grab a session - that would help for large numbers of machines.

    while (!stoppi

[2015-08-21 07:24] jimdowling commented on #98
I'll do a quick test on retrying the connection now, then.

[2015-08-21 07:43] jimdowling commented on #98
Ok, @marcbux , i just tested from my laptop on the subway and it seems to work for 5 machines. I increased retry count to '10' for getting the ssh connection (it's now 2 retries for executing tasks). I also released new binaries. Let us know if this helps.

[2015-08-21 08:22] kamalhakim commented on #98
Thanks @jimdowling, timeout exception was a bit confusing since the real exception was too many open sessions. Two points here:
1. There are two issues in the logging that we should address:
  a) The log window in the web-app is not synched with karamel.log
  b) karamel.log does not show core logs
2. I am not sure if stubborn behaviour (high number of retries) is a good solution - imagine for faul

[2015-08-21 08:39] jimdowling commented on #98
@kamalhakim  - can you fix the logging thing. I never intentionally touched it.
For getting tasks to complete, I think stubborn behaviour is good - but we probably need global limits that can be configured by the user. MaxNumberOpenSshConnections. I hope the leaking session problem is fixed now.
The alternative to stubborn retries is to launch a new VM and kill the VM with the problems. Ultimately

[2015-08-21 15:01] jimdowling commented on #98
@marcbux i have created about 5 clusters today with 6 nodes in each cluster and haven't had any problems (non spot-price instances). I did it over the SICS wireless network, which isn't 100% reliable. Let me know if you still have issues.

[2015-08-22 03:53] kamalhakim commented on #98
It doesn't seem to be solved yet :( it gives timeout at the start session still when I ran it with spot instances, I thought it might be that we don't close the session in case of exception but even with that it still keeps throwing TimeoutException for 4 VMs

2015-08-22 05:48:46 WARN  SshMachine:228 - 176.34.220.69: Couldn't start ssh session, will retry
net.schmizz.sshj.connection.ConnectionExce

[2015-08-22 04:46] kamalhakim commented on #98
It seems to be working now, didn't test it several times though.

[2015-08-22 08:06] marcbux commented on #98
Thanks @jimdowling, @kamalhakim

I won't really have access to stable internet on the weekend, but I'll try
it first thing Sunday night or Monday morning. Just to clarify - while I
ran into the issue with certain tasks halting at READY mostly during
apt-get essentials, it did happen occasionally at later tasks. Is your fix
designed to work for apt-get essentials only or for all tasks?

On Friday,

[2015-08-24 18:32] mhsina commented on #85
We can close this issue, server code is added to the kandy repo. we can follow this on the kandy repo.

[2015-08-24 18:33] #85 closed

[2015-08-25 12:16] kamalhakim opened #111 "A REST-CALL for pushing karamel stats into the Kandy server"

[2015-08-25 15:53] marcbux commented on #98
Thanks guys! I've tried and tested it with 7 and 13 nodes yesterday and it worked smoothly. This resulted in our first Saasfee screencasts (just in time for VLDB next week), which you can find at https://www.youtube.com/channel/UCwxeStZE_ww3RCg9hcKX-ew.

I'm closing this ticket for now.

[2015-08-25 15:53] #98 closed

[2015-08-25 16:21] kamalhakim commented on #98
Cool, nice screencast presentations @marcbux we enjoyed it :+1: :)

[2015-08-26 08:02] jimdowling opened #112 "changing ec2 credentials broken"
If i enter ec2 credentials and then try and change them, it doesn't save the changed credentials.

We should also have a checkbox to indicate - don't save my credentials locally on my harddrive.

[2015-08-26 16:01] joergen7 opened #113 "sudo password shown in clear text"
The task apt-get essentials fails with the following error message:

    1. | TASK_FAILED| 038cf461-684c-4e7c-9ab8-b6d3ad310cb2| 127.0.0.1: Incompleted command 'echo "*********" | sudo -S  apt-get update -y|

Is it intended that the sudo password is displayed in clear text?

![screenshot_2015-08-26_17-54-40](https://cloud.githubusercontent.com/assets/3183595/9498855/52c16d0c-4c1c-11e5-9b9c-b364abf

[2015-08-26 16:38] joergen7 opened #114 "apt-get essentials fails"
When I try to install Hi-WAY on bare metal, Karamel gets stuck in the apt-get essentials step.

It seems to connect but then the execution halts without a meaningful error message.

       ___________________________________________________________________________________________________________________________________
       | Failure    | Id                                  | Message

[2015-08-26 19:12] marcbux opened #115 "Wrong file permissions for SSH keys generated by Karamel"
When creating a new SSH keypair in Karamel (Baremetal), both the public and the private key have permissions 664 (-rw-rw-r--). On the terminal, this leads to the following error messages:

    hiway@hiway:~$ ssh -i .karamel/.ssh/ida_rsa 127.0.0.1
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @         WARNING: UNPROTECTED PRIVATE KEY FILE!          @
    @@@@@@@@@@@@@@@@@@@@@

[2015-08-26 19:15] marcbux opened #116 "Add public key to authorized_keys"
Would it be possible for Karamel (Baremetal) to add the public key to the authorized_keys files of the target machines automatically? I find having to do that manually quite tedious and a pretty large barrier to entry for not so computer-savvy users. Since Karamel knows the sudo password of the target machines anyways, it might as well do all the dirty work.

The same holds for adding the target m

[2015-08-27 08:21] jimdowling commented on #115
Karamel actual does set the permissions for the private key - however this only works for Linux/Mac. It uses PosixFilePermission class. However, I wasn't removing permissions :) I will push a fix soon.

[2015-08-27 08:34] jimdowling commented on #115
Fix tested and pushed. Thanks @marcbux

[2015-08-27 08:34] #115 closed

[2015-08-27 08:44] jimdowling commented on #116
Karamel already does add the public key of source machine (running Karamel) to the authorized_keys file of cloud machines.
The only way to do this for bare-metal machines would be that you login to all machines and scp the key over and copy it to authorized_keys.
I am personally not in favour of adding support for password based ssh to Karamel. What you will find is that for medium and larger inst

[2015-08-27 09:25] jimdowling commented on #113
Thanks Joergen. No, it's not. We are just blindly propagating exception text back to the user. Normally it's helpful.
I just pushed a fix.

[2015-08-27 09:29] jimdowling commented on #114
@joergen7  - if you ssh in to the machine and execute "sudo apt-get update -y" - does this fail? It appears to be that command that is failing. On ubuntu machines, you have to run 'apt-get update' before you install any software with apt, if you don't it fails.  The cause of the problem could be anything...... sources repo being unavailable or uncontactable or slow, no sudo access for the user, ..

[2015-08-27 09:37] marcbux commented on #116
Alright, thanks for the reply and explanation. I just wanted to check if you considered that option. Cheers!

[2015-08-27 09:37] #116 closed

[2015-08-27 11:49] joergen7 commented on #114
Hey Jim,

the tip to try "sudo apt-get update -y" nailed it.

The problem was that we had synaptic still open on the machine. Of course Karamel could not get a lock on apt.

Would you adapt the error message to something like "does another application hold the apt lock?" and a big warning in the Launch dialog on the Karamel website?

Cheers

[2015-08-27 13:32] kamalhakim commented on #114
Karamel doesn't have any idea about type of the command it is going to run, it just reads a script file and runs commands line by line, return value 0 is interpreted success and 1 failure.

What we can do for your suggestion @joergen7 is to have a optional hint-message in front of each command in the script file and show it in case that command failed. Or alternatively we can have a general hints

[2015-08-27 13:37] kamalhakim commented on #116
I had formulated this need long time ago in https://github.com/karamelchef/karamel/issues/44 .

@jimdowling what if you have a long running cluster with 100 machines and you want to let someone else access it for any reason, I think that would be a very common scenario in future as karamel gets more stable.

[2015-08-27 13:46] kamalhakim commented on #113
This quick fix doesn't solve the problem generally and makes the code ugly, we need a better solution for this.

[2015-08-27 14:32] jimdowling commented on #116
You can still use authentication using public keys to add somebody else. The karamel client could ssh to all machines and add a new public_key to the authorized_keys for all the machines.
For Marc's case, i suggested the following to him by email:
If you have the same password on all machines use 'pssh' - parallel-ssh and pscp 'parallel-scp'.
With them you need a hosts file with each hostname on a

[2015-08-27 14:34] jimdowling commented on #113
It does solve the problem - it filters out the sudo part of the command and its password. For other exceptions, there is no general solution. Either propagate the content of them to users or dont. I find it useful - particularly for EC2 problems - such as "too many instances open - limit reached" etc

[2015-08-27 15:51] #113 closed

[2015-08-28 00:39] kamalhakim commented on #113
Your solution is not general in the sense that you didn't solve it from the root, you just replace escape the password in one case, what if it appeared later in another place in the command or the like... I will fix this.

[2015-08-28 01:54] kamalhakim opened #118 "Idempotent Karamel Tasks"
Karamel-core should be able to remember the already successfully run tasks on machines and ignore them in case of re-run.

This is also good for pre-installing AMIs with essential software packages that are time consuming.

[2015-08-28 01:55] #34 closed

[2015-08-28 01:55] #35 closed

[2015-08-28 01:58] kamalhakim commented on #71
This would be partly addressed in the #118

[2015-08-28 01:59] #12 closed

[2015-08-28 08:25] jimdowling commented on #71
No, this is not related to idempotent tasks. All tasks should be idempotent - both in Chef and Karamel core.
This tasks is concerned with the use case:
- Shutdown/failure/disconnection of the Karamel client will not cause the Karamel client to stop working. It should be able to reestablish the state of the tasks in the cluster, and then be able to restart/re-run tasks if necessary.

[2015-08-28 11:44] #101 closed

[2015-09-03 12:28] #102 closed

[2015-09-06 08:04] jimdowling opened #119 "security groups in VPC != security groups in classical EC2"
I think this might be one of the problems we have in creating VPC subnets that can talk to each other.
http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html
When you create a security group in EC2 you have to associate it with a VPC when you create it.

This contradicts what is written in jclouds - that VPCs and security groups are mutually exclusive:
https://jclouds.apache

[2015-09-07 05:53] jimdowling commented on #119
This was a VPC configuration problem on my side. It seems it works.

[2015-09-07 05:53] #119 closed

[2015-09-07 07:28] jimdowling opened #120 "Failed recipes can still return "done" in Karamel UI"
I think this problem arose after we introduced the stubborn retry for recipes. Cluster defns indicate a cluster is built, but it isn't....

[2015-09-14 15:07] #111 closed

[2015-09-15 13:59] mhsina opened #122 "Add a submodule, used to store common object models"
the new submodule will be a dependency accessible by kandy as well.
1. Statistics object model should be moved, so be accessible by kandy
2. Cluster definition object model should be moved

[2015-09-15 14:06] mhsina opened #123 "Add rest call in Core/UI to kandy for cost\time esimation on cluster definitaion."
From karamel UI or core rest call will be called and provides cluster definition as input and result will be expected time/cost.

[2015-09-15 14:20] mhsina opened #124 "Develope cluster specification model"
It is similar to cluster definition object model but in more details.
for example an ec2 instance like m3.large but with more details about VM. So user can specify which memory, storage, ... expects.
This will be added to the common submodule and will be also used by Kandy.

[2015-09-15 14:29] mhsina opened #125 "Add rest call, to send cluster specification and receive cluster definition"
This api is provided by kandy to recommend a cluster definition based on user cluster specification

[2015-09-15 15:23] mqus opened #126 "generated keys: Authentication problem using ssh keys."
OS: Xubuntu 15.04
Java: openjdk-7
Setup type: bare metal
yml: [Single node installation including VLDB demo workflows](http://saasfee.informatik.hu-berlin.de/download/saasfee_standalone_baremetal_vldb_demo.yml)

When trying to start the Installation with generated keys(without passwords), it throws the following error:

[code]

What I did exactly:
1. start karamel (downloaded from the website)
2.

[2015-09-15 16:03] jimdowling commented on #126
Does the user account 'hiway' exist on your local machine? It should already exist...

[2015-09-15 16:32] jimdowling commented on #126
You can also use an existing account on your machine, but you have to edit this file:
http://saasfee.informatik.hu-berlin.de/download/saasfee_standalone_baremetal_vldb_demo.yml
Change the hiway user, hdfs user, yarn user, and mr user entries from 'hiway' to 'mqus' or whatever your username is.

[2015-09-16 11:19] mqus commented on #126
the user didn't exist and just now i tried another installation after changing the user to markus (my username) i also tried with and without changing the data directory to /home/markus, but it just showed the same error.

Btw, my karamel version is 0.1(the archive from the karamel.io website).

[2015-09-16 19:08] jimdowling commented on #126
First test is:
ssh markus@localhost
If that works without asking you for a password, then karamel should be able to login to your machine.
If you need to enter a password, then you have to enter it in "ssh keys" dialog - advanced part.
Second test:
Does 'markus' user have sudo privileges. If yes, but you need to enter a password, then you need to enter that password again in the  "ssh keys" dialog

[2015-09-16 21:12] mqus commented on #126
when I try `ssh markus@localhost`, it still asks for my password (propably because ssh doesn't know the private key). When I give ssh the key like above with `ssh markus@localhost -i .karamel/.ssh/ida_rsa`, the login works. My key (the generated one) doesn't have any password.

I just noticed in the logs, that there were some entries above the mentioned error that are propably interesting, I don't

[2015-09-16 22:01] mqus commented on #126
Do I have to change the username of the provider (from nothing/root to markus)? If I do, it seems to work.

[2015-09-17 04:32] jimdowling commented on #126
@kamalhakim ?

[2015-09-17 12:56] kamalhakim commented on #126
Sorry for reacting late on this, gmail spammed the emails from github.

@mqus I see that in your yaml file you had hiway as the user name but later you said you didn't have that user-name and made markus.. however in your last email you say that if you change the root to markus it works.. i am a bit confused why did you think it should work with root (considering you set ssh password for the user

[2015-09-17 13:06] jimdowling opened #127 "branches not working for cookbook"
i think it uses 'master' even if i supply a different branch.

[2015-09-17 14:09] mqus commented on #126
I tried the yaml without changing the username and then i changed the username and tried it again. The yaml file isn't mine, I just tried the steps shown in [this youtube video](https://www.youtube.com/watch?v=2QQyfXLTidQ).
I didn't know I had to change the provider, if that was what I missed, then thank you and sorry for the commotion :)

[2015-09-17 14:20] kamalhakim commented on #126
Yes, that's the only place you set the user-name. I close it then.

[2015-09-17 14:20] #126 closed

[2015-09-17 14:24] kamalhakim commented on #127
It should be working.. branches are handled quite rigid in the core.

cd %cookbooks_home%/%github_repo_name% && %sudo_command% git checkout %branch_name%

[2015-09-25 09:28] kamalhakim commented on #120
Stubborn retry refers to #98

[2015-09-28 12:34] joergen7 opened #128 "Karamel cannot login even if passwordless ssh is set up"
OS: Ubuntu 14.04 64bit
main mem: 2GB
Java: SE 1.8
Karamel: Linux or Apple v0.1
YAML: [Single node VLDB demo](http://saasfee.informatik.hu-berlin.de/download/saasfee_standalone_baremetal_vldb_demo.yml)
Installation type: bare-metal

Provider settings:
- Username: root
- IPs: 127.0.0.1

Configuration updates:
- hiway/data set to user's home directory
- hiway/user, hadoop/yarn/user, hadoop/mr/user, h

[2015-09-28 15:00] jimdowling commented on #128
@kamalhakim  - i am travelling this week, won't have time to look at this. Can you have a look?
Looking at it, we have the button "validate". Is that correct - though. What does clicking the button do - can't remember....

[2015-09-30 15:17] #122 closed

[2015-10-05 17:48] kamalhakim commented on #120
Problem was piping recipe log with "tee", and tee captures the exit status of the shell command. "; test ${PIPESTATUS[0]} -eq 0" did the fix.

%sudo_command% chef-solo -c solo.rb -j %json_file_name%.json 2>&1 | tee %log_file_name%.log ; test ${PIPESTATUS[0]} -eq 0

[2015-10-05 18:12] #120 closed

[2015-10-08 11:31] jimdowling opened #130 "Experiment Designer: experiments deleted not deleted in github."

[2015-10-09 08:24] kamalhakim opened #131 "experiment designer doesn't like $ in experiment text"
INFO  [2015-10-09 08:21:41,444] se.kth.karamel.webservice.calls.AbstractCall:  Received request to set github credentials....
ERROR [2015-10-09 08:21:43,982] io.dropwizard.jersey.errors.LoggingExceptionMapper: Error handling a request: 0978b13ac048d224
! java.lang.IllegalArgumentException: Illegal group reference
! at java.util.regex.Matcher.appendReplacement(Matcher.java:808) ~[na:1.7.0_25]
! at

[2015-10-12 14:25] jimdowling opened #132 "Duplicate recipe names allowed within a group"
This is a bug. I had an error that was difficult to track down, because I assume a recipe was in a cluster defn, however, it wasn't. It was a duplicate of another recipe. No error is given. Should give an error before launching a cluster.

[2015-10-18 00:26] kamalhakim commented on #128
@joergen7 I am looking at this issue, isn't it the case that your old key was password protected and karamel hasn't remove it from the cache? Can you please look at ~/.karamale/conf and see if removing the old password works around it?

[2015-10-18 00:32] kamalhakim commented on #32
We kinda have this now by adding passed phases and time statistics.

[2015-10-18 00:32] #32 closed

[2015-10-18 00:36] kamalhakim commented on #86
Duplicate of #83

[2015-10-18 00:36] #86 closed

[2015-10-18 01:17] #128 closed

[2015-10-18 01:19] kamalhakim opened #133 "Karamel filters attributes in chef json based on cookbooks - that is not desired"

[2015-10-18 01:40] #133 closed

[2015-10-18 02:02] #132 closed

[2015-10-18 04:43] jimdowling commented on #128
I pushed a fix for this last week. It was a misspelling of the rest endpoint (registerSshkey) when you did a refactoring recently.

[2015-10-21 09:08] kamalhakim opened #134 "new ssh-key automatic upload to baremetal machines"
In case of baremetal, user expects the new generated key by karamel to be copied into the machines since karamel gets the sudo account password as well. It brought up a lot of confusion and it is nice feature if we can support that.

[2015-11-08 11:35] shelan opened #135 "Cannot create experiments if Github user email is not public"
If the email of the Github profile is not public it is not possible to continue with the experiment designer. Below is a screenshot how it would look like.
<img width="473" alt="screenshot 2015-11-08 12 33 14" src="https://cloud.githubusercontent.com/assets/6347410/11020112/0a987466-8615-11e5-9913-6729cf0caa02.png">

I suspect this might fail as it is not possible to generate Gavatar URL without t

[2015-11-08 22:35] jimdowling commented on #135
Thanks, we'll look intot his when we have time. We accept PRs, if you need it quickly...

[2015-11-12 23:25] ashansa opened #136 "Experiments does not create the cookbook in Github"
I am using karamel 0.1 on OS X and I can reproduce the issue by following the steps below.

1. Start Karamel
2. Select Menu > Experiment
3. Add the inputs required for the word count sample as instructed in
    http://www.karamel.io/?q=content/design-experiment-karamel
4. Click on 'Press to Save'

<img width="499" alt="screen shot 2015-11-12 at 8 51 20 pm" src="https://cloud.githubusercontent.com/

[2015-11-13 07:49] jimdowling commented on #136
Firstly, i recommend working with the latest snapshot version when testing experiments. It's more mature.

The error it's failing with is "authentication failed" for github when trying to clone a repo. Maybe you tried to load an experiment but didn't supply your credentials?
Try the 0.2-snapshot version, hopefully should resolve your problems...

[2015-11-13 09:59] ashansa commented on #136
I did try with both versions and I experienced the same issue. The empty repository is created in Github which requires my credentials and the error occurs when it tries to clone the repository. Should I have any additional credential settings for cloning?

When debugging I found that the exception occurs here.

https://github.com/karamelchef/karamel/blob/master/karamel-core/src/main/java/se/kth/k

[2015-11-17 15:58] marcbux opened #137 "Error during Stage and Vendor step"
I'm getting the following error when running https://github.com/marcbux/variant-call/blob/master/saasfee/variantcall_standalone_ec2.yml

![image](https://cloud.githubusercontent.com/assets/6670944/11216512/dac61c28-8d4b-11e5-98cb-9ea9136cbad7.png)

When looking into the logs of the failed clone and vendor step, this is what I get:

    Cloning into 'variant-call'...
    fatal: unable to access 'ht

[2015-11-18 14:29] marcbux commented on #137
It was a regular EC2 VM created by Karamel. It is especially weird considering that other yaml files / cookbooks have been working on the same day and with the same Karamel version.

[2015-11-30 20:55] tomPorter opened #138 "complete newbie: problerm with missing charon::install task in hopsworks-3node-aws-large.yml"
This is probably an easy fix, but I'm completely new to karamel/hopsworks, and was trying to follow the video and got an error when installing, shown in the status terminal screen.:

INSTALLATION_FAILURE|   | No task assigned to 'charon::install on 52.30.78.179' while it appreard in dependencies.. predecessors: [] successors: [hopsworks::install on 52.30.78.179]|

[2015-12-01 14:38] jimdowling commented on #138
Hi @tomPorter . Unfortunately, it appears to be a bug in the cluster definition file.
Try and run the single node hopsworks for aws. It should work. We'll push a fix for the 3-node one soon.

[2015-12-06 18:41] alorlea commented on #53
I have updated the openstack branch with master and tested the version against another openstack system that jim gave me access.

Karamel was able to deploy hops and flink, connect and install the code in the vms. There where some external problems but still it looks reasonable good the tests I managed to do.

In order to try it out, you can check the openstack branch.

[2015-12-08 03:15] tomPorter commented on #138
No joy on the single node either, same error.

I did get a plain old HOPS cluster started, but I will have to hit the books on how to make use of it.

Thanks for a tremendous tool in any case!

[2015-12-11 12:43] sfarestam commented on #138
As far as I can see the dependency on charon was introduced on Nov 23 with commit 3c5b371637bfac47c02c9035fe84aaa429082ed1. To get around this you can use the following in your config file.

  hopsworks:
    github: "hopshadoop/hopsworks-chef"
    # nov 19 - ok
    branch: 7e737bcc2dac6b4d4ad1888f20ca4e0a83e588f4
    ## breaks on this one Nov 23 (requires charon...)
    ## No task assigned to 'cha

[2015-12-11 13:10] sfarestam opened #139 "X-Windows"
I'm trying to run karamel on a headless server in server mode. However, karamel seems to require access to X-windows. This can be solved by using a virtual framebuffer X server and running karamel inside a detached screen session (details below for ubuntu), but it would be nice if this could be handled by a command line option (i.e. disable dependency on X-Windows)

[code]

[2015-12-11 13:11] tomPorter commented on #138
Stefan,

Thanks for the fix.  I'm trying it out now.

Tom P.

"On two occasions I have been asked [by members of Parliament], 'Pray, Mr.
Babbage, if you put into the machine wrong figures, will the right answers
come out?' I am not able rightly to apprehend the kind of confusion of
ideas that could provoke such a question."

On Fri, Dec 11, 2015 at 7:43 AM, Stefan Farestam <notifications@github.co

[2015-12-11 13:21] jimdowling commented on #139
Karamel can be run from the command line in Linux or mac. See the docs section on the webpage

-----Original Message-----
From: "Stefan Farestam" <notifications@github.com>
Sent: ‎12/‎11/‎2015 14:10
To: "karamelchef/karamel" <karamel@noreply.github.com>
Subject: [karamel] X-Windows (#139)

I'm trying to run karamel on a headless server in server mode. However, karamel seems to require access to X-

[2015-12-11 15:39] sfarestam commented on #139
Yes, it's possible to launch a specific config from the command line using the `-launch` flag. However, I'm referring to the case when I want to have the web ui available and running from a headless server that I have intermittent access to. In this case the workaround mentioned above works fine but it would be nicer to just have a command line flag to karamel.

[2015-12-11 16:17] jimdowling commented on #139
Gotcha. We'll add the workaround to the docs. Thanks @sfarestam .

[2015-12-11 16:18] jimdowling commented on #139
I'll leave the issue open to fix.

[2015-12-15 09:09] kamalhakim commented on #118
fixed through following commits
https://github.com/karamelchef/karamel/commit/d42a261dcf24cc3ca353a2d58c3bb5230433ae42
https://github.com/karamelchef/karamel/commit/504e14fe8395b6c54edb17114d66c37a0782f952
https://github.com/karamelchef/karamel/commit/17e68db71757f71ff5a73858c082349b14fe95a6
https://github.com/karamelchef/karamel/commit/5f911de8f82595ef1040960a853f818d8ef87dba

[2015-12-15 09:09] #118 closed

[2015-12-18 15:20] kamalhakim opened #140 "automatic storage preparation for aws machines"
Some virtual machines in Amazon EC2 do not have all disks mapped or mounted, in fact user has to do it manually.

[2015-12-18 15:25] jimdowling commented on #140
Most m3 images have 1 disk mapped at /mnt. All hadoop/ndb/spark/flink recipes can be configured to use /mnt. Set node. <cb>.dir to /mnt

[2015-12-18 15:28] shelan commented on #140
I2 and R3 machines does not even do that. They have TRIM supported SSDs for which we need to create a file system by our own and mount afterward.

[2015-12-18 15:30] #140 closed

[2015-12-18 15:34] kamalhakim commented on #140
Actually I had fixed it, I just made the issue for the sake of record, now Karamel does it automatically. Disks will be mapped into /mnt/disk1  /mnt/disk2 and ... /mnt/diskn

[2016-01-12 14:10] Mamut3D opened #141 "jOCCI supprot"
Hello,

I am working on addition of OCCI support into Karamel. I would like to ask where to look to update karamel GUI to be able to add OCCI as another provider with its own credentials.

As for backend i guess I need to create OCCI launcher?

Thanx for any info

[2016-01-13 10:13] marcbux opened #142 "IndexOutOfBoundsException in ClusterManager"
Over the last weeks, I've conducted some scalability experiments with Saasfee. To this end, I've steadily increased the number of VMs on which to install Saasfee (using Karamel) up to 128 EC2 nodes. By increasing the number of VMs to such high levels, I noticed an error, which I had only seen very occasionally before, occur more and more frequently.

During the FORKING_MACHINES step of the latest

[2016-01-14 17:39] kamalhakim commented on #141
Hi,

Great. While back I had enumerated steps for GCE support in https://github.com/karamelchef/karamel/issues/62, please take a look and feel free to ask your questions here.

[2016-01-15 11:06] kamalhakim commented on #142
Thanks @marcbux
I think this happens because some vms are forked without having public-ip address assigned by EC2. I added a sanity check and toss those vms withouth ip assigned. I think this resolves the issue.

[2016-01-15 11:07] #142 closed

[2016-01-15 11:09] kamalhakim commented on #138
@jimdowling can we close this?

[2016-01-15 11:12] kamalhakim commented on #137
It is github connection issue, it appears sometimes and I am not sure if it is because too many calls to github or connection problem.
Once we have manual task management that I am working on it right now, then this kind of issues are manually resolvable.
I close it.

[2016-01-15 11:12] #137 closed

[2016-01-15 11:13] kamalhakim commented on #127
@jimdowling can we close this? I think it works..

[2016-01-15 11:15] kamalhakim commented on #123
@mhsina can you update on this issue? reffer to your commits here even though it is not completed...

[2016-01-15 13:18] tomPorter commented on #138
Using a new download of the snapshot from the karamel.io Linux link, this
is still a problem.

"On two occasions I have been asked [by members of Parliament], 'Pray, Mr.
Babbage, if you put into the machine wrong figures, will the right answers
come out?' I am not able rightly to apprehend the kind of confusion of
ideas that could provoke such a question."

On Fri, Jan 15, 2016 at 6:09 AM, Kamal H

[2016-01-24 21:49] shelan opened #143 "Cannot start karamel from any folder. Should always navigate to source root and execute ./bin/karamel"
Cannot run karamel from anywhere else. Should always start from the root folder of karamel binary. If not the following exception occurs.

Exception in thread "main" java.io.FileNotFoundException: File conf/dropwizard.yml not found
    at io.dropwizard.configuration.FileConfigurationSourceProvider.open(FileConfigurationSourceProvider.java:14)
    at io.dropwizard.configuration.ConfigurationFactory

[2016-01-25 08:12] #143 closed

[2016-01-28 17:13] #41 closed

[2016-02-01 07:35] shps commented on #104
@shelan

[2016-02-02 17:03] #53 closed

[2016-02-04 14:56] #127 closed

[2016-02-05 10:30] kamalhakim opened #147 "Cluster Definition Language"
There are several requirements for the cluster definition related to the coming features of Karamel. We should consider expressiveness and completeness, that is not a drastic change should be required after the first introduction of the language since it will affect many users. I will compiling all new features here, please feel free to give post your proposal syntax for the language here:

1. Res

[2016-02-05 10:58] kamalhakim opened #148 "Private-ip for baremetal in the cluster definition"
Because of the current limitations of the cluster definition, user has to make a few separate cluster definition files and run them in order. Usually in the first cluster definition the provider is set to be public clouds but in the other cluster definitions we defined them as bare-metal. Treating a public cloud cluster as bare-metal requires a way to define private IPS as well but it is impossibl

[2016-02-05 10:58] kamalhakim opened #149 "Host-name resolution problem"
Need to remove 127.0.0.1 entry as it was creating host resolution problem. This was done by executing "sed -i '/127.0.1.1/d' /etc/hosts" which alters hosts file in the VM.

[2016-02-05 11:02] kamalhakim opened #150 "Port numbers in the quick links should be dynamic"
Flink JobManager URL is not correct in Karamel UI (Launch the WebUI for the Flink JobManager)

[2016-02-05 11:02] kamalhakim opened #151 "Storage mount-point as a dynamic value for recipes"
Tmp and working directories of Spark, Hadoop with new storage preparation at AWS https://github.com/chef-cookbooks/aws

[2016-02-05 11:03] kamalhakim opened #152 "Java version issue"
Java 6 and 7 both are there and 6 is activated … customizing attributes related to transitive cookbooks is not possible -> java::version karamel needs to remove the unnecessary validation

[2016-02-05 11:04] kamalhakim opened #153 "Build essential issue"
Build essentials are not properly installed. Need to re install it. As a workaround we use a pre built jars and packages [ More info : When yahoo benchmark tried to build the redis server it failed due to missing libraries which should come from build-essential, the step of installing build-essentials were skipped because the base image (AWS AMI)  might have completed that step. We had to install

[2016-02-05 11:04] kamalhakim opened #154 "Integration of Collectl into Karamel"

[2016-02-05 11:05] kamalhakim opened #155 "Plotting performance results"

[2016-02-05 11:05] kamalhakim opened #156 "When two Karamel definitions launched. Quick links, purging will be associated with 1st definition"

[2016-02-05 11:06] kamalhakim opened #157 "Chef-DK version number"
Should be specified in the Karamel config file.

[2016-02-08 08:29] kamalhakim commented on #51
Will be addressed in dynamic forking strategies..

[2016-02-08 08:29] #51 closed

[2016-02-08 18:08] shelan opened #159 "Error in chef attribute Json file generation for orchestration"
Recipies are not successful because every json file generated by Karamel is not valid and has following text appened at the end.

END_OF_FILE && (sudo chef-solo -c solo.rb -j hadoop__install.json 2>&1 | tee hadoop__install.log ; test ${PIPESTATUS[0]} -eq 0 && echo https://github.com/karamel-lab/apache-hadoop-chef/tree/master/hadoop::install >> succeed_list ; test ${PIPESTATUS[0]} -eq 0).

this mig

[2016-02-08 20:04] jimdowling commented on #159
We had the same problem today.
@kamalhakim  - can you push a fix?

[2016-02-08 21:44] kamalhakim commented on #159
It was fixed before, pull the latest.

[2016-02-08 21:44] #159 closed

[2016-02-08 22:36] shelan commented on #159
Thanks, @kamalhakim. Yes, It is fixed in the latest.

[2016-02-10 10:26] kamalhakim opened #160 "Support purge in cluster definition"

[2016-02-15 17:29] doga-tuncay opened #161 "V1 and V2 on Mac - Incompatible minimum and maximum heap size"
When I start karamel (bin/karamel) on Mac I get the following error:

Error occurred during initialization of VM Incompatible minimum and maximum heap sizes specified

I tried both versions, no luck.

[2016-02-15 19:34] jimdowling commented on #161
What's your java version?  Oracle or openjdk?
Use the following to get it:
java -version

[2016-02-17 18:38] doga-tuncay commented on #161
java version "1.6.0_65"
Oracle. Below is the java version
Java(TM) SE Runtime Environment (build 1.6.0_65-b14-462-11M4609)
Java HotSpot(TM) 64-Bit Server VM (build 20.65-b04-462, mixed mode)

[2016-02-17 18:43] jimdowling commented on #161
Karamel requires jdk 1.7+....

[2016-02-17 18:43] #161 closed

[2016-02-18 13:27] jimdowling opened #162 "ssh connections not working (Ubuntu EC2)"
For some reason, karamel is not connecting to the machines created on ubuntu machines (15.10) on an EC2 cluster.

NFO  [2016-02-18 13:23:37,033] se.kth.karamel.backend.machines.SshMachine: 54.170.24.186: connecting ...
INFO  [2016-02-18 13:23:37,075] net.schmizz.sshj.transport.TransportImpl: Client identity string: SSH-2.0-SSHJ_0_8_1_SNAPSHOT
INFO  [2016-02-18 13:23:37,127] net.schmizz.sshj.transp

[2016-02-18 13:38] jimdowling commented on #162
I just tried it with a different ubuntu 14.04 image, same problem.

[2016-02-22 13:37] #162 closed

[2016-02-24 18:23] #139 closed

[2016-04-16 09:28] kamalhakim commented on #141
It was already added in #164 by @Mamut3D

[2016-04-16 09:28] #141 closed

[2016-04-29 14:11] kamalhakim commented on #160
Done!

[2016-04-29 14:11] #160 closed

[2016-08-15 03:05] zhaijunming opened #166 "use karamel run examples/stable/hops-baremetal.yml"
use karamel run examples/stable/hops-baremetal.yml
ERROR:ERROR [2016-08-15 03:02:20,190] se.kth.karamel.backend.kandy.KandyRestClient: Kandy server couldn't store the cluster stats because 'Not Found'
How to solve this problem

[2016-08-16 11:04] kamalhakim commented on #166
ignore it, it is about collecting stats.. nothing important.

[2016-08-16 11:04] #166 closed

[2016-08-18 08:18] jimdowling opened #167 "logs, json files should not be stored in the user's home dir"
We should store them in somewhere like:
~/.karamel/install

I have used karamel to install hopsworks at a university in Hungary, and i always have to cleanup the user's home directory afterwards, looks like a mess.

[2016-08-18 08:20] jimdowling opened #168 "Slow loading time for large cluster defns"
It appears that the loading time for cluster defn files grows linearly with the size of the file. It makes it really slow to load files, particularly for large clusters on bare-metal.

[2016-08-25 10:28] kamalhakim commented on #168
Can please attache a sample file that I can reproduce it on my side? It would be good if I know how long it takes for you.

[2016-08-25 10:35] jimdowling commented on #168
On aws, about 30 seconds to load. Maybe longer. On 36 machines on hops.site, about 20 minutes. This is the hopsworks.yml file from karamel/examples/stable.

[2016-08-25 10:48] kamalhakim opened #169 "karamel v3 doesn't work on windows"

[2016-08-25 10:49] kamalhakim commented on #169
@jimdowling which win version should i test this on ? is it the exec file that is not working?

[2016-08-25 11:14] jimdowling commented on #169
Doesn't matter. I tried windows 8. I assume it doesn't work on windows 7 or 10.
If you click on the .exe file, nothing happens.

[2016-08-25 11:20] kamalhakim commented on #168
It takes ~ 30sec for me, no matter size of the cluster or type of the cloud - which is expected.

I can think of three reasons that can affect the speed here:

1. The time grows linearly with number of cookbooks, because we have to load metadata of all cookbook's in the cluster-def. If one cookbook takes 2sec then 14 cookbooks will take ≥ 28sec
2. Githubs rate-limit chokes some requests, in that c

[2016-08-26 00:59] kamalhakim commented on #168
Now it loads the same file in ≤ 5sec.

[2016-08-26 00:59] #168 closed

[2016-08-26 15:00] kamalhakim commented on #169
@jimdowling I couldn't get the certificate-signing-part working for me, therefore i cannot test it yet.

Which web-site you get certificate from?

[2016-08-26 19:25] jimdowling commented on #169
I tho it has expired. We can just turn off that step. Comment it out in the shell script.

-----Original Message-----
From: "Kamal Hakimzadeh" <notifications@github.com>
Sent: ‎8/‎25/‎2016 12:49
To: "karamelchef/karamel" <karamel@noreply.github.com>
Cc: "Jim Dowling" <jdowling@sics.se>; "Mention" <mention@noreply.github.com>
Subject: Re: [karamelchef/karamel] karamel v3 doesn't work on windows (#1

[2016-08-29 23:25] #169 closed

[2016-08-30 23:08] kamalhakim opened #170 "show description as tooltip for cookbook attributes"

[2016-08-31 00:12] #170 closed

[2016-08-31 00:15] kamalhakim commented on #167
@jimdowling do you mean in the cluster machines or in the Karamel machine? Because we do that in the cluster machines but ~/.karamel folder is in the Karamel machine!

[2016-09-02 09:46] maismail opened #171 "private images are not recognised for GCE"
another attribute need to be added to the yml file to specify a private image and then In GceSettings the buildImageUri need to support it

[2016-09-02 09:51] kamalhakim commented on #171
@shps would you like to look at this?

[2016-09-02 16:13] #157 closed

[2016-09-03 06:05] jimdowling opened #172 "Newer chef-dk version cause karamel to not work for complex cluster defns"
In the hopsworks-aws.xml example, we have a DAG of dependencies with the hopsworks cookbook being at the top. It is dependent on 14 other cookbooks. Karamel generates a solo.rb file with references to all of the cloned cookbook directories - like this
file_cache_path "/tmp/chef-solo"
cookbook_path ["/tmp/cookbooks/kafka-cookbook/berks-cookbooks",
"/tmp/cookbooks/epipe-chef/berks-cookbooks",
"/tmp/

[2016-09-03 06:14] jimdowling commented on #172
I backed out the commit upgrading the chef-dk version until we solve this problem. I have an idea about how to solve the problem but @kamalhakim  we need to discuss it first.

[2016-09-03 09:49] kamalhakim commented on #172
Oj.. it took me a while to introduce this flexibility... you could easily change the default version number ot 0.8.0 or something instead of rolling back everything..

[2016-09-03 10:34] jimdowling commented on #172
We can cherry-pick the commit back in again when we fix the problem. The fix will require some re-factoring, i'm sure.
I tried the following for the hopsworks cluster defn.

Include only 1 cookbook: hopsworks (root cookbook with all dependencies in Berkshelf).
Add all the recipe names for all dependent cookbooks in the metadata.rb for hopsworks.
Add all the attributes for all dependent cookbooks i

[2016-09-05 20:39] jimdowling opened #173 "generated ssh keys in windows dont seem to work anymore"
Here's the log that repeats itself.

! at net.schmizz.sshj.transport.Decoder.decode(Decoder.java:127) ~[karamel.exe:na]
! at net.schmizz.sshj.transport.Decoder.received(Decoder.java:195) ~[karamel.exe:na]
! at net.schmizz.sshj.transport.Reader.run(Reader.java:72) ~[karamel.exe:na]
! Causing: se.kth.karamel.common.exception.KaramelException: net.schmizz.sshj.transport.TransportException: Unable to

[2016-09-05 20:48] jimdowling commented on #173
Just tested it with an openssh key i generated with putty (exported from putty), and it didn't work again. There must be something wrong with the javassh code - maybe an upgrade can fix it so that the library and the ec2 image can agree on an encryption method?

[2016-09-09 10:01] kamalhakim commented on #173
@jimdowling I recall that we had similar error long time back, it was related to version clash of bouncyCastle library.. I guess for some reason it is back again.. Do you remember how you fixed it?

[2016-09-09 10:12] kamalhakim commented on #173
Ok now I see a potential issue, we have bouncycastle in the pom of both karamel-common and karamel-core projects while we had excluded jdk5 bouncy castle in the pom of karamel-ui just from karamel-core not karamel-common.

[2016-09-09 10:43] jimdowling commented on #173
Great. I guess we just exclude it again from karamel-common. Can you push a fix?

[2016-09-09 16:52] #173 closed

[2016-09-09 17:02] #138 closed

[2016-09-09 17:02] kamalhakim commented on #167
@jimdowling ?

[2016-09-09 17:03] kamalhakim commented on #171
@shps ?

[2016-09-09 17:17] jimdowling commented on #167
If you are installing on someone's bare metal machine, it's not nice to fill their home directory with 50+ files. Easier to clean up if they are in .karamel

[2016-09-09 17:24] kamalhakim commented on #173
Just for the record:
I ran "mvn dependency:tree -Dverbose" in karamel and found out:

[INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ karamel-ui ---
[INFO] se.kth.karamel:karamel-ui:jar:0.3
[INFO] +- commons-cli:commons-cli:jar:1.2:compile
[INFO] +- commons-configuration:commons-configuration:jar:1.10:compile
[INFO] |  +- commons-lang:commons-lang:jar:2.6:compile
[INFO] |  \- commons-l

[2016-09-09 17:35] kamalhakim commented on #173
These are the dependencies that has to be ignored for windows:

1. "org.apache.jclouds.driver:jclouds-bouncycastle:jar:1.9.2:compile" ->  "org.bouncycastle:bcprov-ext-jdk15on:jar:1.49:compile"

2. "org.apache.jclouds.driver:jclouds-sshj:jar:1.9.2:compile" -> "org.bouncycastle:bcpkix-jdk15on:jar:1.49:compile"

3. "cz.cesnet.cloud:jocci-api:jar:0.2.3:compile" -> "org.bouncycastle:bcprov-jdk16:jar:1.

[2016-09-10 11:59] kamalhakim commented on #172
Hi @jimdowling

Based on what we discussed and the fact that a cluster definition might have more than one root cookbook, it is necessary to address the issue of running "berks vendor" for more than one cookbook but in the same repo.

The solution i can think of is creating a dummy cookbook and adding all the root cookbooks from cluster definition as dependency into the dymmy/Berksfile and then ve

[2016-09-10 12:09] jimdowling commented on #172
An alternative would be to do git clone as we currently do for all root cookbooks, then run 'berks install'. I think I installs all cookbooks to ~/.berkshelf/... or ~/.chef

[2016-09-10 12:19] jimdowling commented on #172
Then include that dir in the solo.rb file. I don't know how it deals withe different versions of cookbooks though

[2016-09-10 12:22] kamalhakim commented on #172
It seems "berks install" is deprecated in new chefdk or something it suggests to run "berks vendor".

Yes different version is another issues i guess.

[2016-09-10 12:29] jimdowling commented on #172
Berks vendor doesn't care about versions

[2016-09-12 11:14] kamalhakim opened #174 ""apt-get essential" and "install berkshelf" fail on windows"
For

apt-get essential
&
install berkshelf

Karamel fails to copy over script on the target machine.. This happens only on windows karamel machine

[2016-09-12 14:17] #174 closed

[2016-09-12 14:20] kamalhakim commented on #174
@jimdowling I deployed new files with this fix. Do you want to test it?

[2016-09-12 16:29] jimdowling commented on #174
It works! Thanks!

[2016-10-30 00:44] #172 closed

[2017-01-15 11:29] saltehb opened #176 "error: all used attributes must be defined in metadata.rb files"
Hi
I'm new in Karamel.
when i load any one of example YAML files it says:
Invalid attributes, all used attributes must be defined in metadata.rb files: [...]

I have downloded a metadata.rb from Marc Bux's HIWAY but i dont know where to put it or how to use it.
Help me please!
thanks in advance

[2017-05-06 13:48] jimdowling opened #179 "Group-Level attributes don't work"
Global attributes work.
But if you try and write attributes at the node-group level, they are ignored.

[2017-06-26 07:37] sad143007 opened #180 "StandaloneFlinkWithHDFS is FORKING_MACHINES but it is on pause."
OS: Windows 10
Java: openjdk-8-jdk
Setup type: Flink on hdfs
yml: StandaloneFlinkWithHDFS

When I try to StandaloneFlinkWithHDFS , Karamel gets stuck while saying "StandaloneFlinkWithHDFS is FORKING_MACHINES but it is on pause.".

the log results are as follows.

INFO  [2017-06-26 07:12:15,758] io.dropwizard.server.ServerFactory: Starting karamel-core
INFO  [2017-06-26 07:12:15,820] org.eclipse.je

[2017-07-12 12:24] kouzant opened #181 "Cluster definition files are not clean up properly"
Karamel stores loaded cluster definition in $HOME/.karamel directory. If a cluster definition with the same name is loaded and try to view the DAG, Karamel will load the previous definition.

[2017-07-12 13:01] kouzant commented on #181
I didn't notice that you have to remove Clusters from Karamel in order to delete them from the filesystem. Closing this issue.

[2017-07-12 13:01] #181 closed

[2018-03-16 17:17] #171 closed

[2018-06-20 08:59] jimdowling commented on #179
This was fixed in 0.5.

[2018-06-20 08:59] #179 closed

[2018-06-20 09:01] jimdowling commented on #176
The attributes defined in the cluster defn file should also be defined in the cookbook's metadata.rb file. If they are not, you will get this error.

[2018-06-20 09:01] jimdowling commented on #167
Was done in 0.4.

[2018-06-20 09:01] #167 closed

[2018-06-20 09:02] jimdowling commented on #156
Done in 0.4.

[2018-06-20 09:02] #156 closed

[2018-06-20 09:02] jimdowling commented on #131
The experiment service is not supported anymore.

[2018-06-20 09:02] #131 closed

[2018-06-20 09:10] jimdowling commented on #48
Done in 0.4.

[2018-06-20 09:10] #48 closed

[2018-06-20 09:10] jimdowling commented on #130
Experiment designer is not supported any more.

[2018-06-20 09:10] #130 closed

[2019-06-25 18:41] chrisrana opened #190 "Unauthorized - accountid https://ec2.us-east-1.amazonaws.com/ HTTP/1.1 -> HTTP/1.1 401"
I am trying to install hopsworks using karamel.I am getting authentication issue.
I am trying from my window machine.
I am able to run aws cli commands like aws s3 ls from command line but when i launch karamel exe and  give aws access ket and password it says Provider Details Invalid.

I tried exporting using set/setx command
set AWS_ACCESS_KEY_ID=ASIA6PMNHYT5UQJAB35G
set AWS_SECRET_ACCESS_KEY=hV

[2019-06-29 10:02] jimdowling commented on #190
You actually set your ACCESS_KEY and SECRET_KEY in the Karamel UI or in a config file store in
~/.karamel/conf .
Setting them using aws cli commands will not help.

[2019-07-05 07:11] chrishkchris opened #191 "p2.xlarge in AWS"
Using Karamel, I tried the deployment at p2.xlarge in AWS, but not success and the process stops at "FORKING_MACHINES".
Is p2.xlarge of AWS supported by Karamel?
Thanks!

[2019-10-16 06:54] #191 closed

[2019-11-05 02:13] ConeyLiu opened #195 "Must it be installed in a desktop environment?"
How should I install it in a server and access the web UI? I tried `ip:9090`, but it failed.

[2019-11-05 07:31] ConeyLiu commented on #176
I just trying to load the example YAML files and got the same issue. One question here is: what extra step should I do. I see the cookbook is depending on the following:
[code]

Should those attributes be defined already?

[2020-02-28 07:34] jimdowling opened #197 "Group-level attrs bug"
For the below cluster definition,
datanode0 will have
      cuda:
        accept_nvidia_download_terms: true
but the default should be false. It seems to be "inheriting" that attribute from its sibling group - datanode1.

name: Hops
baremetal:
    username: jdowling

cookbooks:
  hopsworks:
    github: logicalclocks/hopsworks-chef
    branch: 1.2

attrs:

  install:
    dir: /srv/hops
    cloud: g

[2020-07-01 20:24] KrishnakanthM opened #202 "Karamel UI getting connected/disconnected multiple times automatically while installing HopsWorks"
Hi,
I am installing hopsworks on an Azure VM which is configured with private end points. I chose to do Single Machine cluster set up/installation. (By default Karamel UI runs on 9090 port).

I am able to connect to ipaddress:port where Karamel UI runs (from my local machine - through port forwarding rules). it opens the Karamel UI, but the issue with Karamel UI is that, the status button (Connect

[2021-04-21 19:35] optimuspaul opened #207 "http://www.karamel.io/ is down"
can't seem to download releases from there

[2021-09-19 12:44] ahmader commented on #207
Continue to be down!